<div class="connect">
    <h2> Connect </h2>
    <ul class="connect">
        {% for provider in social_auth.keys %}
            <li>
                <a href="{% url 'socialauth_begin' provider %}?{{ redirect_querystring }}">
                        Connect with {{ provider }}
                    </a>
            </li>
        {% endfor %}
    </ul>
</div>

<div class="log_in">
    <h2>Log in with existing account</h2>
    {% if login_form.errors %}
        <p>Problem logging in.</p>
    {% endif %}
    <form method="post" action="{{ request.get_full_path }}">
        {% csrf_token %}
        <table class="form">
        {{ login_form.as_table }}
    </table>
        <input type="submit" name="submit"  value="Log In" />
        <input type="hidden" name="next" value="{{ next }}" />
    </form>
</div>
<div class="sign_up">
    <h2>Sign Up</h2>

    <form method="post" action="{{ request.get_full_path }}">
        {% csrf_token %}
        <table class="form">
        {{ signup_form.as_table }}
        </table>
        <input type="submit" name="submit" value="Sign Up" />
        <input type="hidden" name="next" value="{{ next }}" />
    </form>
</div>