{% extends "base.html" %}
{% load staticfiles %}

{% block content %}

<style type="text/css">

    .connect {
        margin-left: -26px;
    }


</style>

<div class="row white content-pad">
    <h1>Login</h1>

    <div class="log_in">

        {% if form.errors %}
            <p>Problem logging in.</p>
        {% endif %}

        {% if request.GET.taken %}
            <p>
                It appears you are already registered here, using the email <tt>{{request.GET.taken}}</tt> and a password.
            </p>

        {% endif %}

            <form method="post" action="{{ request.get_full_path }}">
                {% csrf_token %}
                    <table class="form">
                        {{ form.as_table }}
                    </table>
                <hr>
                    <input class="btn-custom" type="submit" name="submit"  value="Log In" />
                <input type="hidden" name="next" value="{{ next }}" />
            </form>
    </div>

    <div>
            {% for provider in social_auth.keys %}
                    Connect with Facebook: 
                    <a href="{% url 'socialauth_begin' provider %}?{{ redirect_querystring }}">
                       <img src="{% static 'images/fbconnect.png' %}" alt="Connect with Facebook" />
                    </a>

            {% endfor %}

    </div>



<!--Forgot Password -->
 <p><a href="{% url "password_reset" %}">Forgot password?</a></p>

    </li>


</div>
{% endblock content %}
