
/* SCSS Global Variables */

$main-background: #e6e1c2 url(images/noise.png);
$centup-orange: #ECAA3E;
$centup-grey: #888;
$transparent-back: hsla(0, 100%, 100%, 0.7);
$centup-blue:#02ADEE;
$centup-darkblue:#28395f;
$centup-bodycopy:#333;