@import "ext/compass_twitter_bootstrap";
@import "ext/compass_twitter_bootstrap_responsive";
@import "constants.scss";


/* General Bootstrap Overrides */


/* This wrapper conatins the transparent arc file used in the background*/
.block {
	-webkit-box-shadow: 0px 0px 30px 0px rgba(00, 00, 00, 0.3);
	box-shadow: 0px 0px 30px 0px rgba(00, 00, 00, 0.3);
}

.wrapper {
	background: url(images/arc.png) no-repeat;
	background-position: center 80px;
	background-size: 180%;
}

body {
 	background: $main-background;
	font-family: 'Montserrat', sans-serif;
	position: relative;
	padding-top: 20px;
}

body > .navbar {
  font-size: 13px;
}

h1,h2,h3,h4,h5 {
	font-family: 'Montserrat', sans-serif;
	font-weight:300;
}

/* utils */
.cl {
    display: block;
    clear: both;
}

/* popover Bootstrap */

.popover {
    z-index: 999999999; /* A value higher than 1010 that solves the problem */
}


/* Custom Button */
.btn-custom {
  	-moz-box-shadow: 0px 2px 0px 0px #0189bb;
	-webkit-box-shadow: 0px 2px 0px 0px #0189bb;
	box-shadow: 0px 2px 0px 0px #0189bb;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #00afef), color-stop(1, #00afef) );
	background:-moz-linear-gradient( center top, #00afef 5%, #00afef 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#00afef', endColorstr='#00afef');
	background-color:#00afef;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
	border-radius:5px;
	border:2px solid #39bcf4;
	display:inline-block;
	color:#ffffff;
	font-family: 'Montserrat', sans-serif;
	font-size:14px;
	font-weight:bold;
	padding:4px 8px;
	text-decoration:none;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.12);
  -webkit-font-smoothing: antialiased;
}

.btn-custom:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #00afef), color-stop(1, #00afef) );
	background:-moz-linear-gradient( center top, #00afef 5%, #00afef 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#00afef', endColorstr='#00afef');
	background-color:#00afef;
	color:#fff;
	text-decoration:none;
}.btn-custom:active {
	position:relative;
	top:1px;
}

.menu-txt{
    font-size: 10px;
    color:#888;
    margin-left: 20px;
  }

/* -------------------------------------------------------------------------------------------------------
HOMEPAGE
----------------------------------------------------------------------------------------------------------*/

.white {
	background-color:#fff;
}

.beige {
	background-color:#f4f3ef;
}

.shadow-top {
 box-shadow: inset 0px 6px 4px -4px #ccc;

}

.generic-home-padding {
	padding: 20px 20px;
}

.generic-home-margin {
	margin-top: 0px;
}

.generic-home-margin-neg {
	margin-top: -20px;
}

.signup {

	h1 {
		font-size:32px;
		color:$centup-orange;
		margin:0 0 7px;
		font-weight: bold;
	}
	
	h2 {
		color:$centup-orange;

		font-weight:bold;
		font-size:24px;
		line-height:1;
	}
	
	h3 {
		line-height: 1;
		margin:10px 0 5px 0;
	}
	
	h4 {
		line-height:23px;
	}

	p {
		font-size:14px;
	}
	
}

.invite
{
	padding:10px 20px 20px;
}

.login
{
	padding:0 0 0 20px;
	margin:30px 0 0 0;
	
	.or-sep
	{
		margin:0 0 0 10px;
	}
}

.sizer {
	max-width: 100%;
}

.graphic {
	background-color: #f4f3ef;
}

.benefits {
	
	h3 {
		color:#00afef;
	}
}

.benefits-container
{
	padding:0 20px;
}

.benefits-img
{
	margin:0 0 20px 0;
}

.charities {

}

.communities {

}

.instructions {
    font-size:120%;
    color:#333;
    margin:1em 0;
}

.nextstep {
    margin-top:1em;
    border-top:1px solid #ccc;
    clear:both;
    padding-top:1em;
    text-align:right;

}

/* -------------------------------------------------------------------------------------------------------
CONTENT PAGE
----------------------------------------------------------------------------------------------------------*/

.content-page #content {
    .content-page {
        padding: 20px;
    }

    h3 {
        font-size: 18px;
        line-height: 150%;
        margin: 0;
        padding: 0;
    }

    h3 em {
        font-size: 12px;
        line-height: 12px;
        font-style: normal;
    }

}

/* -------------------------------------------------------------------------------------------------------
CHARITY PAGE
----------------------------------------------------------------------------------------------------------*/

.charities.listing .charity button.selector.selected {
    opacity:0.5;
}

.charity button.selector.selected:before {
    content:"You Support This";
}

.charity button.selector:before {
    content:"Support This";
}

.charities.listing {
    
    :nth-child(3n+1)
    {
    	clear:both;
    }
    
    .charity {
        float:left;
        width:240px;
        margin: 0 20px 20px 0;
        background-color: hsla(0, 80%, 100%, 0.2);
        box-sizing:border-box;

        button {
            font-size:90%;
            padding:2px 4px;
            margin-bottom:8px;
        }

        .logo {
            width:200px;
            height:200px;
            margin:0 0 15px 0;
            border: 1px solid #eee;
        }
        .name  {
            font-size: 18px;
            font-weight:bold;
            line-height:18px;
            min-height:50px;
            margin:10px 0 0 0;
        }
        .description {
            text-align:left;
            color:#333;
            max-height:200px;
            overflow:hidden;
        }
    }
}


/* -------------------------------------------------------------------------------------------------------
CHARITY DETAIL PAGE
----------------------------------------------------------------------------------------------------------*/

.detail-page {

    .detail-header {
        background-position: 0 0;
        background-repeat: no-repeat;
        background-size: 100% auto;
        min-height: 400px;
        background-color: #d9d7d4;
        position: relative;
        img.logo {
            width: 125px;
            height: auto;
            position: absolute;
            bottom: 30px;
            left: 30px;
        }
        .detail-header-details {
            position: absolute;
            left: 183px;
            bottom: 24px;
            h1 {
                color: #fff;
                font-size: 28px;
                margin: 0;
            }
        }
    }

    .detail-asside {
        background: #FBFAF6 url('images/shadow_vert.png') 0 0 repeat-y;
        min-height: 650px;
        position: relative;
        .detail-details {
            /*background: transparent url('images/detail-details.png') 0 100% no-repeat;*/
            -webkit-box-shadow: 0px 0px 6px 0px rgba(00, 00, 00, 0.5);
            box-shadow: 0px 0px 6px 0px rgba(00, 00, 00, 0.5);
            background-color: #FFF;
            position: relative;
            left: -10%;
            top: 6px;
            padding: 17px 5% 30px 5%;
            width: 110%;
            color: #787878;

            h4 {
                font-size: 18px;
                line-height: 23px;
                margin: 0 0 2px 0;
            }

            small {
                font-size: 14px;
                display: block;
                margin-bottom: 12px;
            }

            p {
                font-size: 18px;
                margin-bottom: 12px;
                b {
                    font-weight: bold;
                    display: block;
                }
            }

            .featured-cents {
                font-size: 36px;
                line-height: 36px;
                color: #ecaa3e;
                margin-bottom: 4px;
            }

            .ico-supporters {
                background: transparent url('images/icons-detail.png') 0 0 no-repeat;
                min-height: 34px;
                padding: 0 0 0 60px;
                color: #28395f;
            }

            .ico-content {
                background: transparent url('images/icons-detail.png') 0 -44px no-repeat;
                min-height: 34px;
                padding: 0 0 0 60px;
                color: #28395f;
            }
        }
        .asside-list {
            padding: 20px;
            h3 {
                margin-bottom: 10px !important;
            }
            .asside-li {
                margin-bottom: 10px;
                img{
                    float: left;
                    width: 28px;
                    margin: 0 9px 10px 0;
                }
            }
        }
    }
}

/* No more tables sample for use on user Dashboard */

@media only screen and (max-width: 800px) {


	/* Force table to not be like tables anymore */
	#no-more-tables table,
	#no-more-tables thead,
	#no-more-tables tbody,
	#no-more-tables th,
	#no-more-tables td,
	#no-more-tables tr {
		display: block;
	}

	/* Hide table headers (but not display: none;, for accessibility) */
	#no-more-tables thead tr {
		position: absolute;
		top: -9999px;
		left: -9999px;
	}

	#no-more-tables tr { border: 1px solid #ccc; }

	#no-more-tables td {
		/* Behave  like a "row" */
		border: none;
		border-bottom: 1px solid #eee;
		position: relative;

		white-space: normal;
		text-align:left;
	}

	#no-more-tables td:before {
		/* Now like a table header */
		position: absolute;
		/* Top/left values mimic padding */
		top: 6px;
		left: 6px;
		width: 45%;
		padding-right: 10px;
		white-space: nowrap;
		text-align:left;
		font-weight: bold;
	}

	/*
	Label the data
	*/
	#no-more-tables td:before { content: attr(data-title); }
}


/* Slider Scripts & Assets */

.slider {
	margin-top: 20px;
	height: 40px;
	width: 430px;
	float:left;
}

.links {
	margin-top: 20px;
	a {
	color:#02ADEE;
	font-size: 12px;
	}
}

/* Global Navigation */


.navbar-fixed-top .navbar-inner,.navbar-static-top .navbar-inner {
	-webkit-box-shadow:none;
	-moz-box-shadow:none;
	box-shadow:none;
	background:transparent;
}

.navbar-inner {
	background:transparent;
	border:none;
	box-shadow: 0 0 0 0;
	padding: 0;
}

.navbar .nav li.dropdown.open > .dropdown-toggle, .navbar .nav li.dropdown.active > .dropdown-toggle, .navbar .nav li.dropdown.open.active > .dropdown-toggle  {
	background-color: transparent;
	color: $centup-orange;
}


.hero-unit h1 {
	color: #666666;
}

.navbar .nav.pull-right {
	margin-top:16px;
}


/* -------------------------------------------------------------------------------------------------------
PUBLISHER LIST
----------------------------------------------------------------------------------------------------------*/

.publishers-list {

	ul
	{
		list-style:none;
		margin:10px 0 0 20px;

		li
		{
			display:block;
			float:left;
			width:160px;
			margin:0 10px 20px 0;
		}

		li:nth-child(4n+1)
		{
	    	clear:both;
	    }
	}
}



/* -------------------------------------------------------------------------------------------------------
DASHBOARD
----------------------------------------------------------------------------------------------------------*/

.dash-main-header {
	background: #F4F3EF url('images/shadow_horiz.png') 100% no-repeat;
	background-position:bottom;
	height: 140px;

}

.dash-status {
	$h-margin: 25px;

	background-color:#F1EEE7;
	height: 140px;
	text-align: right;

	h2 {
		color: $centup-orange;
		font-size: 40px;
		line-height: 18px;
		margin-right: 23px;
		margin-bottom: -12px;

	}

	p {
		color: $centup-grey;
		margin-right: $h-margin;
	}
}

.dash-get-code {
	text-align: center;
	margin-top:50px;
}


.dash-img {
	float: left;
}

.dash-username {
	float: left;
	margin-top: 35px;
}

/* Main User View */

.dash-main-container {
	background-color: #ffffff;
}

.dash-left-container {
	background-color: #ffffff;
	height:100%;

}

.dash-padding {
	padding: 20px;
}

.content-pad {
    padding: 20px;
}


.user-centup-usage {

	ul {
		list-style-type:none;
		width:100%;
		margin:0;
	}

 	li {
	float:left;
	width: 180px;
	margin:0 10px 15px 0;
		
		img
		{
			float:left;
			margin:0 10px 0 0;
		}

		span
		{
			float:left;
			width:130px;
		}
	}
	
	li:nth-child(3n+1) 
	{
    	clear: both;
	}

 	p {
		span {
			color: #ff6633;
			font-size: 32px;
		}
	}

}

.blue-line {
	color: $centup-blue;
}

.tab-pane {

    padding: 10px;
    moz-border-bottom-left-radius: 5px;
    border-bottom-left-radius: 5px;
    moz-border-bottom-right-radius: 5px;
    border-bottom-right-radius: 5px;

    h4 {
        margin: 0 0 5px;
		color:$centup-darkblue;
    }

    @mixin tab-border {
        width: 1px;
        color: #ccc;
    }

    border: {
        style: solid;
        left: {	@include tab-border; }
        right: { @include tab-border; }
        bottom: { @include tab-border; }
        top: {
            width: 0px;
            color: #ccc;
        }
    }

}

.nav {
	margin-bottom: -0px;
}

.nav.nav-tabs {
    li {
        a {
            @include background-image(linear-gradient(#f0eee7, #cfcec8));
            color: #747473;
            font-family: 'Montserrat', sans-serif;
            border-radius: 8px 8px 0 0;
            border: 1px solid #c9c9c9;
            padding: 5px 30px 5px 30px;
            margin-right: -1px;
            &:hover {
                border: 1px solid #c9c9c9;
            }
        }
        &.active a {
            background: #f0eee7;
            padding-top: 7px;
            padding-bottom: 7px;
            margin-top: -4px;
            font-weight: 700;
        }
    }
}



/* User Overview */
.user-centup-overview {
	$usage-padding: 0 10px 20px 0;
	margin: 0 0 20px 8px;

	ul {
	list-style-type:none;
	width:100%;
	padding: $usage-padding;
	margin-left: -5px;
	}

 	li {
	float:left;
	margin: 10px 0 0 20px;
	padding: $usage-padding;
	width:29%;
	border-right: 1px solid #f0eee7;
		&:first-child
		{
			margin: 10px 0 0 0;
		}
		&:last-child
		{
			border-right: none;
		}
	}

	.user-overview-head
	{
		margin:0 0 15px 0;

		h4
		{
			margin:0;
		}
	}

	.balance
	{
		color:$centup-orange;
		font-size: 32px;
		margin:0 0 10px 0;
	}

	.change-settings-link
	{
		font-size:11px;
	}

	.default_centup
	{
		color:$centup-orange;
		font-size: 32px;
		margin:0 0 10px 0;
	}

 	p {
		span {
			color: #ff6633;
			font-size: 32px;
		}
	}
}

.table {
	font-size:80%;
}

/* Code and More */


.general-page {

	h1 {
		font-weight:bold;
		font-size:26px;
		line-height:28px;
	}
}



/* Dashboard News */

.user-centup-newsfeed-container {
	background: #FBFAF6 url('images/shadow_vert.png') 100% no-repeat;
	background-position:left;
	height:1000px;
}

.user-centup-newsfeed {
	ul {
	list-style-type:none;
	width:100%;
	margin: 10px 0 0 0;
	}

	li {
	float:left;
	padding: 0 0 20px 0;
	width:100%;
	}
}

/* Dashboard Publisher */

.publisher-dash
{

}

.top-content-container h3
{
	margin:0;
	font-size:21px;
	line-height:25px;
}

.top-content-container h4
{
	font-size:14px;
	margin:0 0 10px 0;
}



/* custom range input styles */

.user-centup-tabs {
    input[type='range'] {
        -webkit-appearance: none !important;
        background: #FBFAF6 url('images/slider/slider.png') 0 0 no-repeat;
        height:29px;
        width: 382px;
    }
    input[type='range']::-webkit-slider-thumb {
        -webkit-appearance: none !important;
        background: transparent url('images/slider/slider.png') 0 -34px no-repeat;
        height: 18px;
        width: 30px;
    }

    input[type='range']:hover::-webkit-slider-thumb {
        background-position: -30px -34px;
    }

    .tab-content ul
    {
    	list-style:none;
    	margin:0 0 20px 0;
    }

    form
    {
    	margin:0;
    }

    .btn
    {
    	margin:0 0 20px 0;
    }
}

.steps ol {
	list-style-type: none;
	margin:0;
	padding:0;
	text-align:center;
}
.steps ol li {
	display:block;
	float:left;
	width:33%;
}
.steps p {
	margin-left:3em;
	text-align:left;
}

.pl {
	margin-top:30px;

	h3 {
		font-weight:bold;
		font-size:16px;
		line-height:28px;
	}

	p {
		font-size:12px;
		max-width: 400px;
	}

	ul {
		list-style-type: none;
		margin-left: 0;
		font-size:12px;
	}

}

/* Form Styles */

.signup-pub li {
	display: block;
	margin-left: -22px;
}

/* File Upload */

.clearfix {
  *zoom: 1;
}
.clearfix:before,
.clearfix:after {
  display: table;
  content: "";
  line-height: 0;
}
.clearfix:after {
  clear: both;
}
.hide-text {
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}
.input-block-level {
  display: block;
  width: 100%;
  min-height: 30px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.btn-file {
  overflow: hidden;
  position: relative;
  vertical-align: middle;
}
.btn-file > input {
  position: absolute;
  top: 0;
  right: 0;
  margin: 0;
  opacity: 0;
  filter: alpha(opacity=0);
  transform: translate(-300px, 0) scale(4);
  font-size: 23px;
  direction: ltr;
  cursor: pointer;
}
.fileupload {
  margin-bottom: 9px;
}
.fileupload .uneditable-input {
  display: inline-block;
  margin-bottom: 0px;
  vertical-align: middle;
  cursor: text;
}
.fileupload .thumbnail {
  overflow: hidden;
  display: inline-block;
  margin-bottom: 5px;
  vertical-align: middle;
  text-align: center;
}
.fileupload .thumbnail > img {
  display: inline-block;
  vertical-align: middle;
  max-height: 100%;
}
.fileupload .btn {
  vertical-align: middle;
}
.fileupload-exists .fileupload-new,
.fileupload-new .fileupload-exists {
  display: none;
}
.fileupload-inline .fileupload-controls {
  display: inline;
}
.fileupload-new .input-append .btn-file {
  -webkit-border-radius: 0 3px 3px 0;
  -moz-border-radius: 0 3px 3px 0;
  border-radius: 0 3px 3px 0;
}
.thumbnail-borderless .thumbnail {
  border: none;
  padding: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
.fileupload-new.thumbnail-borderless .thumbnail {
  border: 1px solid #ddd;
}
.control-group.warning .fileupload .uneditable-input {
  color: #a47e3c;
  border-color: #a47e3c;
}
.control-group.warning .fileupload .fileupload-preview {
  color: #a47e3c;
}
.control-group.warning .fileupload .thumbnail {
  border-color: #a47e3c;
}
.control-group.error .fileupload .uneditable-input {
  color: #b94a48;
  border-color: #b94a48;
}
.control-group.error .fileupload .fileupload-preview {
  color: #b94a48;
}
.control-group.error .fileupload .thumbnail {
  border-color: #b94a48;
}
.control-group.success .fileupload .uneditable-input {
  color: #468847;
  border-color: #468847;
}
.control-group.success .fileupload .fileupload-preview {
  color: #468847;
}
.control-group.success .fileupload .thumbnail {
  border-color: #468847;
}

/* End File Upload */

.copyright {
  	border-top: 1px solid #C1BDAE;
  	font-size: 12px;
	padding: 10px 0 0;
	text-align: center;
}

/* faq page */

.faq {
	.question
	{
		font-weight:bold;
	}
	.answer
	{
		margin:0 0 20px 0;
	}
}

.disclaimer
{
	font-size: 12px;
}

/* Django error lists */

.errorlist {
    color: #b94a48;
}
