{% extends "base.html" %}
{% load staticfiles %}}
{% block head %}

{% endblock head %}

{% block content %}

<style type="text/css">
	.fileinputs input.file {
        position: relative;
        text-align: right;
        -moz-opacity:0 ;
        filter:alpha(opacity: 0);
        opacity: 0;
        z-index: 2;
    }

</style>

<div class="general-page generic-home-padding white signup">
	<div class="row">
		<!-- Left column -->
		<div class="span6 beige">
			<div class="generic-home-padding">
			 	<h1>
				{% block title %}
					{% if user.is_authenticated %}
					Confirm or Edit Your Account
					{% else %}
					Create Your Account
					{% endif %}
				{% endblock title %}
				</h1>

				{% if not user.is_authenticated %}
				<p>There's a few ways to get started. Sign-up using your facebook account or fill out the form below.</p>
				<!-- Commenting out the invite code HTML
				<div class="invite-code info-box">
					<div {% if form.invite.errors %}class="field_error"{% endif %}>
						<label><b>Invitation Code</b></label>
						{{form.invite}}
						{% for err in field.errors %}
						<span class="error_message">{{form.invite}}</span>
						{% endfor %}
					</div>
					<div class="no-invite-code">
						No code? <a href="/">Get One.</a>
					</div>
				</div>
				-->
				{% endif %}

				{% if form.errors %}
				<div class="alert alert-error">
					<button type="button" class="close" data-dismiss="alert">×</button>
					
					<h4>Oh hey, we found some errors:</h4><br>
					{% for field in form %}
					  {% if field.errors %}
					  <li><strong>{{ field.label }}:</strong> {{ field.errors|striptags }}</li>
					  {% endif %}
					{% endfor %}
				</div>
				{% endif %}


				<div class="fb-option">
					<p><strong>Use Facebook</strong></p>
					<a href="{% url 'socialauth_begin' 'facebook' %}"><img src="{% static 'images/fbconnect.png' %}" alt="Connect with Facebook" /></a>
				</div>

				<p><strong>Enter Your Information</strong></p>
			 	<form method="post" action="{% url 'welcome' %}" enctype="multipart/form-data">
					{% csrf_token %}
					{{ form.non_field_errors }}
					
					<!--No more Django forms API -->
					<ul class="signup-user">
						<!-- Email -->
						<li>
						  <div {% if form.email.errors %}class="field_error"{% endif %}>
							<label>Email</label>
							{{form.email}}
							{% for err in field.errors %}
							<span class="error_message">{{form.email}}</span>
							{% endfor %}
						  </div>
						</li>
						
						<!-- User name -->
						<li>
							<div {% if form.username.errors %}class="field_error"{% endif %}>
								<label>Username</label>
								{{form.username}}
								{% for err in field.errors %}
								<span class="error_message">{{form.username}}</span>
								{% endfor %}
							  </div>
						</li>
						
						<!-- Password -->
						{% if form.password1 %}
						<li>
							<div {% if form.password1.errors %}class="field_error"{% endif %}>
								<label for="id_password1">{{form.password1.label}}</label>
								{{form.password1}}
								{% for err in field.errors %}
								<span class="error_message">{{form.password1}}</span>
								{% endfor %}
							  </div>
						</li>
						<li>
							<div {% if form.password2.errors %}class="field_error"{% endif %}>
								<label for="id_password2">{{form.password2.label}}</label>
								{{form.password2}}
								{% for err in field.errors %}
								<span class="error_message">{{form.password2}}</span>
								{% endfor %}
							</div>
						</li>
						{% endif %}
						
						<!-- First Name -->
						<li>
							<div {% if form.first_name.errors %}class="field_error"{% endif %}>
								<label>First Name</label>
								{{form.first_name}}
								{% for err in field.errors %}
								<span class="error_message">{{form.first_name}}</span>
								{% endfor %}
							  </div>
						</li>
						
						<!-- Last Name -->
						<li>
							<div {% if form.last_name.errors %}class="field_error"{% endif %}>
								<label>Last Name</label>
								{{form.last_name}}
								{% for err in field.errors %}
								<span class="error_message">{{form.last_name}}</span>
								{% endfor %}
							  </div>
						</li>
						
						<!-- Profile Image -->
						<li>
							<br/>
							<label>Profile Image</label>
							<span class="file-avatar">
								{% if user.social_auth %}
									{% if user.large_avatar %}
									<img src="{{user.large_avatar.url}}" alt="user avatar"/>
									{% endif %}
									<div class="fileinputs">
								        {{form.large_avatar}}
								        <div class="fakefile">
								            <input type="button" class="btn btn-file" value="Change Image" />
								        </div>
								    </div>
								{% else %}
								<!--Begin Nicely Styled Image Upload -->
									{{form.large_avatar.errors}}
										<div class="fileupload fileupload-new" data-provides="fileupload">
											<div class="fileupload-new thumbnail" style="width: 50px; height: 50px;"><img src="http://www.placehold.it/50x50/EFEFEF/AAAAAA" /></div>
											<div class="fileupload-preview fileupload-exists thumbnail" style="width: 50px; height: 50px;"></div>
											<span class="btn btn-file"><span class="fileupload-new">Select Image</span><span class="fileupload-exists">Change</span>{{form.large_avatar}}</span>
	                                         <a href="#" class="btn fileupload-exists" data-dismiss="fileupload">Remove</a>
	                                     </div>
	                             <!--End Nicely Styled Image Upload -->						
							</span>
							{% endif %}
						</li>
						<!-- Terms -->
						<li>
							<div {% if form.terms_and_conditions.errors %}class="field_error"{% endif %}>
								{{form.terms_and_conditions}}
								<label class="terms">I agree to the CentUp <a href="{% url 'terms' %}" target="_blank">Terms and Conditions</a> and I plan on doing lots of good on, for and with the internet.</label>
								{% for err in field.errors %}
								<span class="error_message">{{form.terms_and_conditions}}</span>
								{% endfor %}
								<span class="clearfix"></span>
							</div>
						</li>
					</ul>
					<br><br><br><input type="submit" class="btn-custom" name="submit" value="Create Account" />
				</form>
			 </div>
		</div>
		<!-- End Left Column -->
		
		<!-- Right Column -->
		<div class="span5">
			<div class="generic-home-padding">
				<div class="video">
				<h4>What is CentUp?</h4>
				<iframe src="http://player.vimeo.com/video/64957872" width="100%" height="213" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
			</div>
				
				<!--BEGIN Publisher List by approved and name -->
				<div class="row">
				<h4>Where Can You Use CentUp?</h4>
				<ul class="sidebar-list">
				{% for publisher in featured_publishers %}
					{% if publisher.approved %}
						<li>
							<a href="{{publisher.url}}" target="_blank"><img src="{{publisher.logo.url}}" style="width:70px;height:70px;" alt=""></a>
							<a href="{{publisher.url}}" target="_blank">{{publisher}}</a>
						</li>
						{% else %}
					{% endif %}
				{% endfor %}
				</ul>
				<span class="clearfix"></span>
			</div>
				<!--END Publisher List by approved and name -->
		<hr>
				<!--BEGIN Charity List by active and name -->
				<div class="row">
				<h4>Which Charities Can I Help?</h4>
				<ul class="sidebar-list">
				{% for charity in charities %}
					{% if charity.active %}
						<li>
							<a href="{{root_url}}/charity/{{charity.slug}}"><img src="{{charity.logo.url}}" style="width:70px;height:70px;" alt=""></a>
						</li>
					{% else %}
					{% endif %}
				{% endfor %}
				</ul>
			</div>
				<!--END Charity List by active and name -->
		</div>
		<!-- End Right Column -->
	</div>
	<!-- End Row -->

</div>
<!-- End Page -->
{% endblock content %}
