{% extends "base.html" %}
{% load utils %}

{% block content %}
<div class="general-page generic-home-padding white">
    <h1>Step 1 of 3 - {% block title %}Select Your Charity{% endblock title %}</h1>

    <p class="instructions">
        If you change your mind, you can select a new charity at any time from your dashboard.
    </p>


    {% include "charity/selector.html" %}
    <div class="nextstep">
        <a class="btn-custom" href="{% url 'welcome2' %}">
            Next Step
        </a>
    </div>

</div>

{% endblock content %}
