{% extends "base.html" %}
{% load cents %}
{% load staticfiles %}

{% block title %}
    {{ user }}'s Dashboard
{% endblock title %}

{% block head %}
    <style>
    .nextstep {
        clear:both;
        padding-top:1em;

    }
    .dollars {
        float:right;
        font-size:100%;
        margin-top: 5px;
        font-weight:bold;

    }

    #preload{
        width: 600px;
        padding: 30px;
        display:none;

        background: #FFF;
        border-radius: 5px; -moz-border-radius: 5px; -webkit-border-radius: 5px;
        box-shadow: 0px 0px 4px rgba(0,0,0,0.7); -webkit-box-shadow: 0 0 4px rgba(0,0,0,0.7); -moz-box-shadow: 0 0px 4px rgba(0,0,0,0.7);

    }

    .floater label {
        display: inline;
    }

    .modal-body {
        overflow-y: auto;
        max-height: 470px;
    
    }

    .alert {
        margin-bottom: 0px;
    }

    .read-more {
        font-size: 11px;
    }

    .publisher-list-item {
        height:180px;
    }

    .publisher-list-overview {
        padding-left: 12px;
    }

    .publisher-list-domain {
        margin-top: -12px;
    }


    </style>



{% endblock head %}

{% block content %}



{% if user.account.balance = 0 %}
    <div class="alert">
        <button type="button" class="close" data-dismiss="alert">×</button>
        <strong>Hi {{user}}!</strong> Your account balance is zero. And that means your experience on CentUp is going to be sort of meh. <a href="{{root_url}}/welcome/2">Load your account with as little as $10.</a>
    </div>
    
{% else %}
    
{% endif %}

<!-- Example row of columns -->
<div class="row">
    <!-- User header-->
    <div class="span9 dash-main-header">
        <div class="dash-img">
            <div class="dash-padding">
                {% if user.large_avatar %}
                    <img src="{{user.large_avatar.url}}" style="width:100px;height:100px;" alt="">
                {% else %}
                    <img src="{% static 'images/default_profile.gif' %}" style="width:100px;height:100px;" alt="">
                {% endif %}
            </div>
        </div>
        <div class="dash-username">
            <h1>Welcome {{ user.get_short_name }}</h1>
        </div>

    </div>
    <!-- User Donation Details-->

    <div class="dash-status span3">
        <div class="dash-padding">
            {% if user.total_donations %}
                <p>You have donated</p>
 				<h2 class="orange">{{user.total_donations|credits}}</h2><br>
				<p> since {{user.created_at|date:"DATE_FORMAT"}}</p>
            {% else %}
                <p>You haven't donated anything yet.</p>
            {% endif %}

        </div>
    </div>
</div>
<!--Main Container for Dashboard Content-->
<div class="dash-main-container row">
    <!-- User header-->
    <div class="dash-left-container span9">
    <div class="dash-padding">
       <!-- Where to use-->
       <h3>Where can I use CentUp? </h3>
       <div class="user-centup-usage row">
        <ul>
            {% for publisher in featured_publishers %}
                <li class="responsive-font-size">
                    {% if publisher.logo %}
                        <img src="{{publisher.logo.url}}" style="width:40px;height:40px;" alt="">
                        <span class="publisher-title"><a href="{{publisher.url}}" target="_blank">{{publisher}}</a></span>
                        <span class="clearfix"> </span>
                        </li>
                    {% else %}
                        <a href="{{publisher.url}}">{{publisher}}</a></li>
                    {% endif %}


            {% endfor %}

        </ul>
        <div class="dash-main-container row">
            <div class="dash-left-container span9">
	            <a class="btn-custom" href="/publisher">Featured Publishers</a>
	        </div>
        </div>
    </div>
    </div>
    <!-- Main Tabs -->
	<div class="dash-padding">
    <div class="user-centup-tabs">
        <div class="tabbable"> <!-- Only required for left/right tabs -->
            <ul class="nav nav-tabs">
                <li class="active"><a href="#tab" data-toggle="tab">Overview</a></li>
                <li><a href="#tab1" data-toggle="tab">Account</a></li>
                <li><a href="#tab3" data-toggle="tab">History</a></li>
                {% if user.is_publisher %}
                    <li><a href="#tab4" data-toggle="tab">Publisher</a></li>
                {% else %}

                {% endif %}
            </ul>
            <div class="tab-content" style="clear:both;{# bootstrap does some crazy :after insertion#}">
                <div class="tab-pane active" id="tab">
                    <div class="user-centup-overview row">
					<ul>
                        <li>
                            <div class="user-overview-head">
                            	<h4>Your Charity</h4>
                                {% if user.preferred_charity.active %}
    								{% if user.preferred_charity %}
    								<a href="{% url 'charities:index' %}" class="change-settings-link">Change</a>
    							</div>
                                {% else %}
                                You have not chosen a charity. Please go <a href="../charity/">here</a> and chose who you'd like to send your money to.
                                {% endif %}
                                <a href="{% url 'charity:detail' slug=user.preferred_charity.slug %}">
                                	<img src="{{user.preferred_charity.logo.url}}" style="width:120px;height:120px;" alt="{{user.preferred_charity}}" />
                                </a>
                            </li>
                            {% else %}
                                Your charity is inactive. You need so select a new charity <a href="{% url 'charities:index' %}" >here</a>
                            {% endif %}
                        <li>
                            <div class="user-overview-head">
                            	<h4>You Donate</h4>
                             	<a href="#donationModal" name="preload" data-toggle="modal" class="change-settings-link">Donation Settings</a>

                            </div>
                            <div class="balance">{{user.default_donation|credits}}</div>
                            <p>CentUp credit(s) each time you click the CentUp button.</p>
                        </li>
                        <li>
                            <div class="user-overview-head">
                            	<h4>Current Balance</h4>
                            	&nbsp;
                            </div>
                            <div class="balance">{{user.account.balance|credits}}</div>
                            <p>CentUp credits</p>

                        </li>
						</ul>
                    </div>
					<hr>
                    <div class="user-centup-overiew-detail row">
                        <!-- Recent Transactions -->
                        <h3>Recent Centups (Last 10)</h3>
                        <p>Note: the amount below will be split between the publisher and the charity.</p>
                        <table id="no-more-tables" class="table table-bordered table-striped">
                            <thead>
                                <tr>
                                    <th>Content</th>
                                    <th width="15%">Date</th>
                                    <th width="10%">Amount</th>
                                    <th width="25%">Charity Name</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% load endless %}

                                {% paginate 10 recent_centups %}
                                {% for centup in recent_centups %}
                              
                                <tr>
                                    <td>
                                        <a href="{{centup.url.url}}" target="_blank">{{centup.url.content}}</a>
                                    </td>
                                    <td>
                                        <time title="{{centup.created_at|date:"SHORT_DATETIME_FORMAT"}}" datetime="{{centup.created_at|date:"c"}}">{{centup.created_at|date:"SHORT_DATE_FORMAT"}}</time>
                                    </td>
                                    <td>
                                        {{centup.amount|credits}}
                                    </td>
                                    <td>
                                        {{centup.charity_account.charity}}
                                    </td>
                                </tr>
                             
                                {% endfor %}
                                {% show_pages %}
                            </tbody>
                        </table>



                    </div>
                </div>
                <div class="tab-pane" id="tab1">
                    <legend>Account Settings</legend>
                    <ul>
                        <li>
                            {% if user.has_password %}
                                <a href="{% url 'password_change' %}">Change Password</a>
                            {% else %}
                                You don't currently have a password for this account -
                                <a href="{% url 'password_change' %}">Add Password</a>
                            {% endif %}

                        </li>
                        {% for provider, social_auth_user in social_auth.items %}
                            <li>
                                {% if social_auth_user %}
                                    You can login with {{ provider}} -
                                    <a href="{% url 'socialauth_disconnect' provider %}?{{REDIRECT_FIELD_NAME}}={% url 'users:dash' %}">
                                        disconnect
                                    </a>
                                {% else %}
                                    <a href="{% url 'socialauth_begin' provider %}?{{REDIRECT_FIELD_NAME}}={% url 'users:dash' %}">
                                        Add {{ provider }} login to this account
                                    </a>
                                {% endif %}
                            </li>
                        {% endfor %}
                    </ul>
                    {% if update_payment_form %}
                        
                        <form action="{{braintree_url}}" method="post">
                            {{update_payment_form.as_p}}
                            <input class="btn btn-custom" type="submit" value="Update payment details">
                        </form>
                        {% else %}
                        <ul>
                            <li><a href="/welcome/3/"> Add your credit card </a></li>
                        </ul>
                           

                    {% endif %}



                     <form action="" method="post">
                        {% csrf_token %}
                        <input type="hidden" name="formtype" value="notification_settings_form" />
                         <fieldset class="floater">
                                <legend>Email Notifications</legend>
                               <ul>
                                    <li>
                                        {{notification_settings_form.notify_on_low_balance}}
                                        {{notification_settings_form.notify_on_low_balance.label_tag}}
                                        {{notification_settings_form.notify_on_low_balance.errors}}
                                    </li>
                                    <li>
                                        {{notification_settings_form.notify_on_account_reload}}
                                        {{notification_settings_form.notify_on_account_reload.label_tag}}
                                        {{notification_settings_form.notify_on_account_reload.errors}}
                                    </li>
                                    <li>
                                        {{notification_settings_form.notify_on_charity_message}}
                                        {{notification_settings_form.notify_on_charity_message.label_tag}}
                                        {{notification_settings_form.notify_on_charity_message.errors}}
                                    </li>
                                    <li>
                                        {{notification_settings_form.periodic_updates}}
                                        {{notification_settings_form.periodic_updates.label_tag}}
                                        {{notification_settings_form.periodic_updates.errors}}
                                    </li>
                               </ul>
                                <input class="btn btn-custom" type="submit" value="Save">
                            </fieldset>
                            <fieldset class="floater">
                                <legend>Public Profile</legend>
                                <ul>
                                    <li>
                                    {{notification_settings_form.public_profile}}
                                    {{notification_settings_form.public_profile.label_tag}}
                                    {{notification_settings_form.public_profile.errors}}
                                    </li>
                                </ul>
                                <input type="hidden" name="formtype" value="notification_settings_form" />
                                <input class="btn-custom" type="submit" value="Save">
                            </fieldset>
                    </form>

                </div>

                <div class="tab-pane" id="tab3">
                    <table class="table table-bordered table-striped">
                            <thead>
                                <tr>
                                    <th>Content</th>
                                    <th width="15%">Date</th>
                                    <th width="10%">Amount</th>
                                    <th width="25%">Charity Name</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% load endless %}

                                {% paginate 10 all_centups %}
                                {% for centup in all_centups %}
                                <tr>
                                    <td>
                                        <a href="{{centup.url.content}}" target="_blank">{{centup.url.content}}</a>
                                    </td>
                                    <td>
                                        <time title="{{centup.created_at|date:"SHORT_DATETIME_FORMAT"}}" datetime="{{centup.created_at|date:"c"}}">{{centup.created_at|date:"SHORT_DATE_FORMAT"}}</time>
                                    </td>
                                    <td>
                                        {{centup.amount|credits}}
                                    </td>
                                    <td>
                                        {{centup.charity_account.charity}}
                                    </td>
                                </tr>
                                {% endfor %}

                                {% show_pages %}

                            </tbody>
                        </table>
                </div>
                {% if user.is_publisher %}
                    <div class="tab-pane" id="tab4">
                        <legend>Your Publishing Sites</legend>
                        <p>Your publishing sites are appoved by domain. That means you can use the CentUp button on any content hosted on the approved domain below. If you have other blogs you manage or content on a differnt domain, let us know. The form is simple and approvals are quick. </p><br>
                                            <ul>
                                            {% for publisher in user.active_publishers %}
                                            <li>
                                                <div class="publisher-list-item">
                                                {% if publisher.logo %}
                                                <div class="publisher-list-logo pull-left">  
                                                    <img src="{{publisher.logo.url}}" style="width:120px;height:120px" title="{{publisher}}"/>
                                                </div>
                                                {% endif %}
                                                <div class="publisher-list-overview pull-left"> 
                                                    <h3>{{publisher}}
                                                        ({% if publisher.approved %}
                                                           Approved
                                                        {% else %}
                                                            Pending
                                                        {% endif %})</h3>
                                                    <p class="publisher-list-domain">{{publisher.url}}</p>
                                                    <hr>
                                                    <p><a href="{% url 'publisher:dash' publisher_id=publisher.id %}" >
                                                    Visit Publisher Dashboard</a> | 
                                                    {% if publisher.approved %}
                                                           <a href="{% url 'button:code' %}">Get Button Code</a>
                                                        {% else %}
                                                            
                                                        {% endif %}

                                                    </p>
                                                </div>
                                                </div> 
                                            </li>   
                                            {% endfor %}
                                            </ul>
                                            <hr>
                                            Want to add another site?
                                            <a class="link" href="{% url 'publishers:signup' %}">Let us know the details</a>
                    </div>
                {% else %}

                {% endif %}

				</div>
            </div>
        </div>
    </div>

</div>


<!-- Left Column Details-->

<div class="user-centup-newsfeed-container span3">
    <div class="user-centup-newsfeed">
        <div class="dash-padding">
           <h4>CentUp News</h4>
           <hr>
           <ul>
                {% for post in news %}
                    <li><a href="/news/{{post.slug}}">{{post.title}}</a>
                        {% autoescape off %}
                        <p>{{ post.body|truncatewords:"45" }}</p>
                        {% endautoescape %}
                        <a class="read-more" href="/news/{{post.slug}}">Read more</a>
                        <hr>
                    </li>


                {% endfor %}
            </ul>
            <a href="/news/">Show all news &gt;</a>
        </div>


    </div>
</div>

    <!--Charity Modal Here-->

        <div id="donationModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            <h3 id="myModalLabel">Donation Settings</h3>
          </div>
          <div class="modal-body">
                <form action="" method="post">
                {% csrf_token %}
                <input type="hidden" name="formtype" value="donation_settings_form" />
                     {% include "user/donation_controls.html" with form=donation_settings_form %}
                     <hr>
                     <input class="btn btn-custom" type="submit" value="Save">

             </form>
          </div>

        </div>




{% endblock content %}

