<style type="text/css">
    .auto-reload {
        background-color: #e6e1c2;
        color: #666;
        border-radius: 8px;
        padding: 12px;
    }

    .pre-load {
        margin-top: 40px;
    }

    .default-donation {
        margin-top: 40px;
        margin-bottom: 40px;
    }

    .question {
        height: 14px;
        width: 14px;
        padding: 3px;
        font-size: 12px;
        line-height: 12px;
    }

    .small {
        float: right;
        size: 12px;
    }

</style>



<div class="user-centup-tabs">

        <div class="pre-load">

           
                <label for="id_preload_amount">{{form.preload_amount.label}}:  
                    <div id="question" class="question btn" rel="popover" data-content="This is the amount you'll first load into your CentUp account. $10 is the minimum, but the higher number you set the less fees we all pay. Hooray!" data-original-title="Preload Amount">?</div>
                </label>
            {{form.preload_amount.errors}}
            {{form.preload_amount}} <span id="preload_amount_dollars"></span>
  
</div>

<div class="default-donation">

           
                <label for="id_default_donation_hc">{{form.default_donation_hc.label}}:
                    <div id="question3" class="question btn" rel="popover" data-content="This is the amount you'll pledge every time you click the CentUp button. (Yep it's just a click). Don't worry you'll be able to increase your donation directly on our button if you find content that is super good." data-original-title="Default CentUp amount">?</div>
                </label>
            {{form.default_donation_hc.errors}}

            {{form.default_donation_hc}}
            <span class="credit-amount" id="default_donation_credits"></span> 
            <span class="credit-label"> (CentUp Credits)</span>    
   </div>


<div class="auto-reload">
    <p>
        <label for="id_auto_reload"></label>
        {{form.auto_reload.errors}}
        {{form.auto_reload}} <span> Auto-reload my account each time I run out of CentUp Credits. Your credit card will be charged with your Preload Amount. You can easily turn this feature on and off using the admin dashboard. </span>
        <!--<div id="question" class="question btn" rel="popover" data-content="This ensures your account replenishes automatically when you hit zero. No one likes zero." data-original-title="Auto Reload">?</div>-->
    </p>
</div>

</div>

