{% extends "base.html" %}
{% load utils %}

{% block head %}

{% endblock head %}

{% block content %}
<div class="general-page generic-home-padding white">
<h1>Step 2 of 3 - {% block title %}Donation Settings{% endblock title %}</h1>
<form method="post" action="{% url 'welcome2' %}">
    {% csrf_token %}
    {% include "user/donation_controls.html" %}

    <div class="nextstep">
        <input type="submit" class="btn-custom" name="submit"  value="Next Step" />
    </div>
</form>
</div>

{% endblock content %}
