{% extends "base.html" %}

{% block content %}
{% if new %}
    <h1>Confirm your new account</h1>
{% else %}
    <h1>Edit your account
{% endif %}


<form method="post" action="{% url 'users:info' %}">
    {% csrf_token %}
    <table class="form">
    {{ form.as_table }}
    </table>
    <input type="submit" class="btn btn-primary" name="submit"  value="Continue" />
    <input type="hidden" name="new" value="{{ new }}" />
    <input type="hidden" name="next" value="{{ next }}" />
</form>

{% endblock content %}
