{% extends "base.html" %}
{% load utils %}

{% block head %}
    <style>
    .nextstep {
        clear:both;
        padding-top:1em;
        
    }
    input[placeholder=MM] {
        width:2em;
    }
    input[placeholder=YYYY] {
        width:4em;
    }
    
    .add-funds-later {
        font-size: .8em;
    }
    
    .ml150
    {
    	margin:0 0 0 150px;
    }
    
    .accepted-payment
    {
    	margin:0 0 10px 160px;
    }
    
    .video
    {
    	margin:40px 0 0 0;
    	padding:0 20px;
    }

	</style>
{% endblock head %}

{% block content %}
<div class="general-page generic-home-padding white">

<h1>Step 3 of 3 - {% block title %}Sync Your Credit-Card {% endblock title %}</h1>
 
<div class="row">
	<div class="span6">
	<form id='payment-form' action='{{ braintree_url }}' method='POST'>
	    {{ form.tr_data.as_hidden }}
	    
	
	    {% if form.errors %}
	        <div class="alert alert-error">
	            <button type="button" class="close" data-dismiss="alert">×</button>
	
	            <h4>You've missed a few things. Sorry for the trouble, but you'll need to update the fields hilighted in red below.:</h4><br>
	            {% for field in form %} 
	                {% if field.errors %}
	                <li><strong>{{ field.label }}:</strong> {{ field.errors|striptags }}</li>
	                {% endif %}
	            {% endfor %}
	            Other issues? Contact <a href="mailto:team@centup.org">team@centup.org</a>.
	        </div>
	    {% endif %}

	    <fieldset>
	        <legend>Enter Your Credit Card Information</legend><br>
			
	        <div {% if form.transaction__credit_card__cardholder_name.errors %}class="field_error"{% endif %}>
	        <label>Cardholder Name</label>
	                {{form.transaction__credit_card__cardholder_name}}
	                {% for err in field.errors %}
	                    <span class="error_message">{{form.transaction__credit_card__cardholder_name}}</span>
	                {% endfor %}
	        </div>  
			
			<div class="accepted-payment">
				Accepted Credit Cards: <br/><img alt="" title="" src="http://www.credit-card-logos.com/images/multiple_credit-card-logos-1/credit_card_logos_10.gif" width="150" height="30" border="0" />
			</div>
	        
	        <div {% if form.transaction__credit_card__number.errors %}class="field_error"{% endif %}>
	                <label>Card Number</label>
	                {{form.transaction__credit_card__number}}
	                {% for err in field.errors %}
	                    <span class="error_message">{{form.transaction__credit_card__number}}</span>
	                {% endfor %}
	        </div>
	
	        
	        <div {% if form.transaction__credit_card__expiration_month.errors %}class="field_error"{% endif %}>
	        <label>Expiration Date</label>	
	                {{form.transaction__credit_card__expiration_month}}
	                {% for err in field.errors %}
	                    <span class="error_message">{{form.transaction__credit_card__expiration_month}}</span>
	                {% endfor %}
	        </div>  
			
	        <div {% if form.transaction__credit_card__expiration_year.errors %}class="field_error"{% endif %}>
	                {{form.transaction__credit_card__expiration_year}}
	                {% for err in field.errors %}
	                    <span class="error_message">{{form.transaction__credit_card__expiration_year}}</span>
	                {% endfor %}
	        </div>  
	
	
	        
	        <div {% if form.transaction__credit_card__cvv.errors %}class="field_error"{% endif %}>
	        	<label>CVV</label>
	                {{form.transaction__credit_card__cvv}}
	                {% for err in field.errors %}
	                    <span class="error_message">{{form.transaction__credit_card__cvv}}</span>
	                {% endfor %}
	        </div>  
	    </fieldset>
	    <fieldset>
	       <!-- Removing Billing Address requirement

	        <label>Billing Address</label>
	
	        <div {% if form.transaction__billing__street_address.errors %}class="field_error"{% endif %}>
	                {{form.transaction__billing__street_address}}
	                {% for err in field.errors %}
	                    <span class="error_message">{{form.transaction__billing__street_address}}</span>
	                {% endfor %}
	        </div> 
	
	        <div class="ml150" {% if form.transaction__billing__extended_address.errors %}class="field_error"{% endif %}>
	                {{form.transaction__billing__extended_address}}
	                {% for err in field.errors %}
	                    <span class="error_message">{{form.transaction__billing__extended_address}}</span>
	                {% endfor %}
	        </div> 

	    	-->
			 
	        <div {% if form.transaction__billing_address__postal_code.errors %}class="field_error"{% endif %}>
	        	<label>Zip/Postal</label>
	                {{form.transaction__billing__postal_code}}
	                {% for err in field.errors %}
	                    <span class="error_message">{{form.transaction__billing__postal_code}}</span>
	                {% endfor %}
	        </div> 
	
	    </fieldset>
	</div>
    
    <div class="row">
        <div class="span11">
            <div class="disclaimer">
				<p>You've chosen to purchase CentUp credits. Your credit card will be charged <strong>${{request.user.preload_amount}}</strong>
                {% if request.user.auto_reload = True %}
                    <strong>automatically each time your CentUp credits hit zero.</strong>
                {% else %}
                    <strong>just this time.</strong>
                {% endif %}
                </p>

                <p>By clicking the button below, I authorize CentUp to debit the credit card account indicated in this web form, for the noted amount above. I certify that I am an authorized user of this credit card and that I will not dispute the payment with my credit card company, so long as the transaction corresponds to the terms indicated in this web form.</p>
		        <input type="submit" class="btn-custom purchase" name="submit"  value="Purchase CentUp Credits" />
            </div>
        </div>
    </div>
</form>
</div>
{% endblock content %}
