{% extends 'admin/base_site.html' %}
{% load i18n adminmedia admin_static %}
{% block extrastyle %}{{ block.super }}<link rel="stylesheet" type="text/css" href="{% static "admin/css/forms.css" %}" />{% endblock %}


{% block content %}
<div id="content-main">
    <p>Send bulk invites to a list of emails</p>
    <ul>
        <li>An invite will be created for each email</li>
        <li>Each invite will be sent an invite notification</li>
        <li>All invites will be single-use</li>
        <li>Any bonus credit you enter will be applied to every invite</li>
    </ul>
    <form action="" method="post">
        {% csrf_token %}
        {% for field in form %}
            <div class="field-box{% if field.name %} field-{{ field.name }}{% endif %}{% if not field.is_readonly and field.errors %} errors{% endif %}">
                {% if not field.is_readonly %}{{ field.errors }}{% endif %}
                {% if field.is_checkbox %}
                    {{ field }}{{ field.label_tag }}
                {% else %}
                    {{ field.label_tag }}
                    {% if field.is_readonly %}
                        <p>{{ field.contents|linebreaksbr }}</p>
                    {% else %}
                        {{ field }}
                    {% endif %}
                {% endif %}
                {% if field.help_text %}
                    <p class="help">{{ field.help_text|safe }}</p>
                {% endif %}
            </div>
        {% endfor %}
    <input type="submit" value="Go!" />
    </form>
</div>
{% endblock %}