{% extends "base.html" %}
{% block head %}
{% endblock head %}

{% block content %}
<div class="general-page generic-home-padding white ">
<h1>
    {% block title %}
        Enter invite code
    {% endblock title %}
</h1>



 <div class="row">
    <div class="span5">
        <!--Form Area-->
            <form method="post" action="" enctype="multipart/form-data">
                {% csrf_token %}

                <ul class="signup-pub">
                    <li>
                        <label>Invitation Code</label>
                        <div class="control-group">
                        {{invite_error}}
                        </div>
                        <input type="text" required="required" name="invite" value="{{code}}" />
                    </li>

                </ul>
                <input type="submit" class="btn-custom" name="submit"  value="Continue" />

            </form>

    </div>
    <div class="span5">
        <p>Before continuing, please enter a CentUp invite code.</p>
    </div>

 </div>

</div>
{% endblock content %}
