{% load staticfiles %}
<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js"> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>{% block title %}CentUp{% endblock %}</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <meta property="og:title" content="CentUp" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="http://www.centup.org" />
    <meta property="og:description" content="CentUp encourages us all to donate to content creators and charities at the click of a button. Help make the internet a better place." />
    <meta property="og:image" content="https://s3.amazonaws.com/centup_production/images/centup-fbimg.jpg" />

    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->

    <link rel="stylesheet" href="{% static 'main.css' %}" />

    <!-- webfonts -->
    <link href='//fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
    <script src="{% static 'ext/modernizr.min.js' %}"></script>

    {% block head %}{% endblock head %}


</head>
<body>
    <!-- Adding Generic Bootstrap scaffold here -->
<div class="wrapper {% block pageclass %}{% endblock %}">
    <!-- Navigation -->
    <div class="container navbar-wrapper">
        <div class="navbar">
            <div class="navbar-inner">

                <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </a>
                <a class="brand" href="{% url 'home' %}">
                    <img src="{% static 'images/logo.png' %}" alt="CentUp" />
                </a>

                <div class="nav-collapse collapse">
                    <ul class="nav pull-right">

                        <style type="text/css">
                            .user-controls {
                                width: 500px;
                                height: 60px;
                                -webkit-border-radius: 8px;
                                border-radius: 8px;
                                -webkit-box-shadow:  0px 1px 8px 2px rgba(12, 12, 12, .1);
                                box-shadow:  0px 1px 8px 2px rgba(12, 12, 12, .1);
                                padding:9px;
                                background-color: hsla(0, 100%, 100%, 0.7);
                            }

                            .user-story {
                                width: 300px;
                                margin-left: 8px;
                            }

                            .user-story p {
                                font-size: 12px;
                            }

                            .orange {
                                color: #ECAA3E;
                            }

                            .aligner {
                                margin-top: 8px;
                                margin-left: 3px;
                            }

                            .settings {
                                border-left: 1px solid #666;
                                height: 60px;
                                padding-left: 8px;

                            }

                        </style>


                        <!--Building New User Header -->
                        {% if user.is_authenticated %}
                        <div class="user-controls">
                            <div class="avatar pull-left">
                                {% if user.large_avatar %}
                                    <img src="{{user.large_avatar.url}}" style="width:56px;height:56px;" alt="{{user}}'s Dashboard">
                                {% else %}
                                     <img src="{% static 'images/default_profile.gif' %}" style="width:56px;height:56px;" alt="">   
                                {% endif %}
                                
                            </div>

                            <div class="user-story pull-left">
                                <p>Oh hey {{user}},
                                you have <span class="orange">{{user.account.balance|floatformat:"0"}}</span> credits to split between 
                                {% if user.preferred_charity.active %}
                                <a href="{% url 'charity:detail' slug=user.preferred_charity.slug %}">{{user.preferred_charity}}</a> 
                                {% else %}
                                <a href="/charity">A charity of your choice</a> 
                                {% endif %}
                                and any of our great 
                                {% if request.get_full_path = "/publisher/" %}
                                content providers listed below
                                {% else %}
                                <a href="{% url 'publishers:landing' %}">content creators</a>
                                {% endif %}
                                !</p>
                            </div>
                           
                            <div class="settings pull-left ">
                                <ul>
                                    <li><a href="{% url 'users:dash' %}" id="current_user">My Account</a></li>
                                    {% if user.is_staff %}
                                        <li><a href="{% url 'admin:index' %}">Admin Site</a></li>
                                    {% endif %}
                                    <li><a href="{% url 'logout' %}">Log Out</a></li>
                                </ul>    

                            </div>

                        </div>
                        {% else %}
                            <a class="btn-custom" href="{% url 'signup' %}" >Sign Up</a> or 

                            <a href="{% url 'login' %}?{{REDIRECT_FIELD_NAME}}={{request.get_full_path}}">Login</a> 
                        {% endif %}
                        <!--End New User Header -->


                                  
                    </ul>
                </div><!--/.nav-collapse -->
            </div><!-- /.navbar-inner -->
        </div><!-- /.navbar -->
        {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}

    </div><!-- /.container -->
    <div class="container" id="content">
	<div class="block">
        {% block content %}{% endblock %}
	</div>
    </div>

	<footer>
        <div class="container">
            <div class="row">
                <div class="span9">
                    <div class="pl">
                        <h3>About Us</h3>

                        <p>CentUp encourages us all to donate to creators and charities with the click of a button. Help make the internet a better place.</p>

                        <ul>
                            <li><a href="/faqs">FAQs</a></li>
                            <li><a href="http://centup.tumblr.com/" target="_blank">Blog</a></li>
                            
                        </ul>
                    </div>
                </div>

                <div class="span3">
                    <div class="pl">
                        <h3>Get in Touch</h3>

                        <ul>
                            <li><a href="{% url 'publishers:signup' %}">Become a Publisher</a></li>
                            <li><a href="/publisher_benefits">Publisher 101</a></li>
                            <li><a href="mailto:team@centup.org">Support</a></li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="row copyright">
                <div class="span12">

                    <p>&copy; 2013 Centup LLC. All Rights Reserved&nbsp;&nbsp;&bull;&nbsp;&nbsp;<a href="/terms">Terms and Conditions</a>&nbsp;&bull;&nbsp;<a href="/privacy_policy">Privacy Policy</a></p>

                </div>
            </div>
        </div>
    </footer>

</div>

    <!--[if lt IE 7]>
        <p class="chromeframe">You are using an outdated browser. <a href="//browsehappy.com/">Upgrade your browser today</a> or <a href="//www.google.com/chromeframe/?redirect=true">install Google Chrome Frame</a> to better experience this site.</p>
    <![endif]-->

    <!-- Add your site or application content here -->

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
 
    <script>
        window._csrftoken = "{{csrf_token}}";
    </script>

    <script>
        $(function ()
        { $(".question").popover({ trigger: "hover" });
        });
        //make bootstrap tabs persistant
        $(document).ready(function() {
            if (location.hash !== '') $('a[href="' + location.hash + '"]').tab('show');
            return $('a[data-toggle="tab"]').on('shown', function(e) {
              return location.hash = $(e.target).attr('href').substr(1);
            });

        });


        $(".clickme").click(function() {
            $('.video-container').fadeToggle('fast', function() {

            var iframe = "<iframe />";
            var id = $(this).attr('id'); // 
            var url = "http://player.vimeo.com/video/56722891?api=1&autoplay=1";

            var width = 840;
            var height = 500;
            var frameborder = 0;

             $(iframe, {
                name: 'videoframe',
                id: 'videoframe',
                src: url,
                width: width,
                height: height,
                frameborder: frameborder,
                type: 'text/html',
                allowfullscreen: true,
                webkitAllowFullScreen: true,
                mozallowfullscreen: true
            }).css({'position': 'relative'}).appendTo(this);

           
             });

        });

        $(document).ready(function(){
            $(".img-caption").hover(
                function(){
                    $(this).find('p').fadeIn();
                },          
                function(){
                    $(this).find('p').hide();
                }
            );

        });

        

        </script>

    <!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
    <script type="text/javascript">

    var _gaq = _gaq || []; 
    _gaq.push(['_setAccount', 'UA-33175865-1']); 
    _gaq.push(['_trackPageview']);

    (function() { 
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true; 
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js'; 
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s); 
    })();

    </script>
    <!--HTML5 Slider -->
    <script src="{% static 'ext/html5slider.js' %}"></script>
    <!--Bootstrap -->
    <script src="{% static 'ext/bootstrap/bootstrap-affix.js' %}"></script>
    <script src="{% static 'ext/bootstrap/bootstrap-alert.js' %}"></script>
    <script src="{% static 'ext/bootstrap/bootstrap-dropdown.js' %}"></script>
    <script src="{% static 'ext/bootstrap/bootstrap-tooltip.js' %}"></script>
    <script src="{% static 'ext/bootstrap/bootstrap-modal.js' %}"></script>
    <script src="{% static 'ext/bootstrap/bootstrap-transition.js' %}"></script>
    <script src="{% static 'ext/bootstrap/bootstrap-button.js' %}"></script>
    <script src="{% static 'ext/bootstrap/bootstrap-popover.js' %}"></script>
    <script src="{% static 'ext/bootstrap/bootstrap-typeahead.js' %}"></script>
    <script src="{% static 'ext/bootstrap/bootstrap-carousel.js' %}"></script>
    <script src="{% static 'ext/bootstrap/bootstrap-scrollspy.js' %}"></script>
    <script src="{% static 'ext/bootstrap/bootstrap-collapse.js' %}"></script>
    <script src="{% static 'ext/bootstrap/bootstrap-tab.js' %}"></script>
    <script src="{% static 'ext/bootstrap/bootstrap-fileupload.js' %}"></script>

    <script type="text/javascript">
    $('.carousel').carousel({
            interval: 1000
    })
    </script>


    <script src="{% static 'general.js' %}"></script>
    
   


</body>
</html>