{% extends "base.html" %}
{% load staticfiles %}

{% block head %}

{% endblock head %}

{% block content %}
	<div class="row white detail-page charity">
		<div class="generic-home-padding">

		<h1>Community</h1>

		<p>Something Here...</p>

		</div>

	</div>
{% endblock content %}