<!doctype html>
<html>
<head>
     <title>{% block title %}{% endblock %}</title>
     <style>
     body {
        margin: 0;
        font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
        font-size: 14px;
        line-height: 20px;
        color: #333333;
        background-color: white;
        height:100%;
     }
     footer {
        position: absolute;
        font-size: 50%;
        bottom:0;
        right:0;
        text-align:right;
        color:#bbb;
     }
     #content {
        margin: auto auto;
        text-align:center;
     }
     a {
        color:rgb(221, 192, 144);
     }
     </style>
</head>
<body>
    <div id="content">
        {% block content %}{% endblock content %}
    </div>
    <footer>
        &copy; 2013 <a href="/">Centup</a> LLC. All Rights Reserved
    </footer>
</body>
</html>