{% extends "base.html" %}
{% load staticfiles %}

{% block head %}

{% endblock head %}

{% block content %}
<div class="row white detail-page charity">
	<div class="generic-home-padding faq">

	<h1>FAQs</h1>

		<span class="question">Q: Why did you call it CentUp?</span>
		<p class="answer">A: Some people say puns are the lowest form of humor, but in this case we thought it made a lot of cents.</p>

		<span class="question">Q: I’m a blogger who wants CentUp on my site. Can I just install it via some code?</span>
		<p class="answer">A: To maintain quality experience for early users, we’re going to personally approve every publisher who requests a CentUp account. We’ll scale this list extremely frequently and keep the community informed of where they can spend their cents. Want it on your site?</p>

		<span class="question">Q: So is CentUp a share button too?</span>
		<p class="answer">A: Yes...you can post to Twitter via CentUp too. Actually we would love that. After you contribute a penny, or two, or a hundred, you will be given the option to post your contribution to Twitter. We hope that your followers in turn see your action and feel motivated to follow in your footsteps. We'll be adding a Facebook share button soon as well.</p>

		<span class="question">Q: What's the incentive for me? I'm not a blogger or a charity, I'm a reader.</span>
		<p class="answer">A: Throwing a few cents to your favorite content creators helps them make more of whatever it is you like. Half the money they’re earning goes to charity (hooray!). Down the road, we’ll also help our community get rewards for their giving like access to content and goods/services from brands.</p>

		<span class="question">Q: How will CentUp track my cents?</span>
		<p class="answer">A: Each person will have a running total of charges pulled from their account. We will segment those charges to show all parties, including the charities and the authors, and where the money is being divvied up. Each person will have a meter showing their charitable giving and where it's going.</p>

		<span class="question">Q: How does CentUp make money? You're a for-profit company right?</span>
		<p class="answer">A: Yes we are. But think less Mr. Burns and more Richard Branson. We believe in the idea of conscious capitalism and that often businesses can do more for the world when they’re building social good into their business model. We take a small percentage to cover the cost of financial transfers and expanding CentUp so more writers and charities can enjoy the benefits of the network.</p>

		<span class="question">Q: I don’t see my favorite charity on your list. Can you add it?</span>
		<p class="answer">A: To avoid diluting the power of the CentUp community, we’re going to start with a select few charities that range in focus. As CentUp grows, so will the number of non-profits that you can support. If you have a suggestion for a national non-profit that we should consider, please let us know.</p>

		<span class="question">Q: Am I limited to giving just pennies? I want to pledge more.</span>
		<p class="answer">A: You’re limited only by the amount of money in your CentUp account. Giving a few cents at a time is completely ok, but if you find something compelling and want to toss $20 to a deserving party, go for it.</p>

		<span class="question">Q: I have a question and it’s not mentioned here. Can I get in touch?</span>
		<p class="answer">A: Please email us at <a href="mailto:team@centup.org">team@centup.org</a>. We’ll try to get back to you quickly. If you include a picture of puppies, bacon, or 80s video games, we’ll reply faster.</p>
		
	</div>

</div>
{% endblock content %}