{% extends "base.html" %}
{% load staticfiles %}

{% block head %}

<link href="//netdna.bootstrapcdn.com/font-awesome/3.2.0/css/font-awesome.css" rel="stylesheet">

{% endblock head %}

{% block content %}

<style type="text/css">


.main-container {
    height:500px;
    background-color: #ccc;
    background: url({% static 'images/centup-back-2.png' %}) no-repeat;
}

.main-container h1 {
    color: #fff;
    font-weight: normal;
    font-size: 30px;
    line-height: 44px;
    text-shadow: 1px 1px 3px #1f1f1f;
        filter: dropshadow(color=#1f1f1f, offx=1, offy=1);
}

.feature_caption {
    display: none;
    position: absolute;
    top: 0px;
    left: 0px;
    height: 102px;
    width:102px;
    line-height: 110px;
    border: 4px solid #02ADEE;
   
}

.feature_caption span {
	color: #fff;
}

.signup-call-out {
	background-color: #ccc;

            border-bottom-right-radius: 8px;
            border-bottom-left-radius: 8px;
            border-top-left-radius: 8px;
            border-top-right-radius: 8px;
            padding: 20px;
            margin-bottom: 20px;

}

.sidebar-list-2
    {
        list-style: none;
        margin:0;
    }
    
    .sidebar-list-2 li
    {
        float:left;
        width:60px;
        margin:0 10px 0 0;
    }
    
    .sidebar-list-2 li:nth-child(6n+1)
    {
        clear:left;
    }


    using-facebook a:hover {
    	color: #fff;
    }

    

</style>



<div class="container" id="content">
	
	<!--Start main container content-->
	<div class="block">
		<!--This is where the main page content goes-->
		<!--Start Video Container Content-->
		<div class="video-container block container">
			
			
		</div>
		<!--End Video Conatiner-->

		<!--Start Main Content Container Content-->
		<div class="row main-container signup">
			<div class="span9 generic-home-margin">
				<div class="generic-home-padding clickme">
					<div class="row1">
					<h1>Reward your favorite</h1></div>
					<div class="row2">
						<!-- Vertical Carousel -->
			        <div id="myCarousel" class="carousel slide vertical">
			            <!-- Carousel items -->
			            <div class="carousel-inner">
			                <div class="active item">
			                    <h1>bloggers</h1>
			                </div>
			                <div class="item">
			                    <h1>podcasters</h1>
			                </div>
			                <div class="item">
			                    <h1>comedians</h1>
			                </div>
			                <div class="item">
			                    <h1>videographers</h1>
			                </div>
			                <div class="item">
			                    <h1>photographers</h1>
			                </div>
			                <div class="item">
			                    <h1>illustrators
			                </div>
			                <div class="item">
			                    <h1>curators</h1>
			                </div>
			              
			            </div>		
			        </div>
			    </div>
			        
			    <!-- End Vertical Carousel -->
			    <div class="row3"><h1>and charities with the click<br> of a button.</h1></div><br><br><br><br><br><br><br><br>
					<div class="using-facebook">
					<p><b>Start Using CentUp Today</b></p>

					<p class="using-facebook">	
						<a class="using-facebook" href="{% url 'socialauth_begin' 'facebook' %}?{{ redirect_querystring }}">
							<button class="btn-large btn-facebook" ><i class="icon-facebook icon-white"></i> | Connect with Facebook</button></a></p><br><br>
						<br><br><br><br>
						<p>No Facebook?<br><a href="{% url 'signup' %}" >Sign Up via email</a></p>
						
					</div>
				<div>
			</div>
		</div>
		<!--End Main Content Conatiner-->


					
						
				</div>
			</div>
		</div>
		<!-- End Signup Row -->

		
		<!-- Homepage fun button 

			<div class="row white">
				<div class="span12">
					<div class="generic-home-padding">
						Test button here: 
						<div class="centup" data-url="http://localhost:5000" data-title="demo"></div>
						<script>
					    document.write('<script src="' + (
					        window.location.search ? window.location.search.slice(1) : 'http://localhost:5000'
					    ) + '/button.js"></scri'+'pt>');
					    </script>


					</div>
				</div>
			</div>


		End Homepage fun button -->



		<!--Top Content 

		<div class="row white">
			<div class="span12">
				<div class="generic-home-padding">
		
			<h2>Content</h2>

			<ul>
                    {% for content in contents %}
                    
                    <li>
                    	<a href="{{content.url}}" target="_blank">
                    		{{content.content}} 
                    	</a>

                    	
                    		{{content.total_donations|floatformat:"0"}}
                    		{{content.created_at|date:"SHORT_DATE_FORMAT"}}</time>
                    	
                    </li>
                        
                
                    {% endfor %}
           		</div>
			</div>
		</div>

		-->

		


		<!--Begin Charities, Communities Publishers Row-->
		<div class="row white benefits shadow-top">
			<center>
		<div class="row">
			<div class="span12">
				<div class="generic-home-padding">
					<h2>Every time you use CentUp, your cents are split evenly between your favorite creators and a charity. </h2><br>
					<h3>Here's just a sampling of creators where you can use the button:</h3>
				</div>
			</div>
		</div>	
		</center>
		<!--BEGIN Publisher List by approved and name -->
			<div class="row generic-home-padding publishers-list-home">
							<ul>
							{% for publisher in featured_publishers %}
								{% if publisher.approved %}
									<li>
					                    
					                    <div class="img-caption">
										{% if publisher.logo %}
					                    <a href="{{publisher.url}}" target="_blank"><img src="{{publisher.logo.url}}" style="width:110px;height:110px;" alt="{{publisher}}"></a>
					                    {% endif %}
										<a href="{{publisher.url}}" target="_blank" alt="{{publisher}}"><p id="feature-1-caption" class="feature_caption"><span></span></p></a>
										</div>

					                </li>

									{% else %}
								{% endif %}
							{% endfor %}
							</ul>
				
						<span class="clearfix"></span>
				
			</div>
		<!--END Publisher List by approved and name -->

		
		<div class="span12 beneftis">


			<div class="container">
    
			    <div class="row-fluid generic-home-padding">
			      <center>
			      	<h4>Or, learn how CentUp helps:</h4>
			   </center>

			
			</div>
			</div>

			<div class="span7 communities">
				<div class="benefits-container">

					<h3>Internet Lovers</h3>
					<p>Reading a new post on your favorite blog? Marveling at some wonderful instagram photography? Let amazing creators know that you support them with more than just a share. Using CentUp means you're helping content creators and charities do more. Best of all, you're taking an action that lets your favorite writers, musicians, podcasters, and more become YOUR biggest fans.</p>
					<!--<span><a class="button btn-custom" href="community.html">Share the Love</a></span>-->

				</div>
			</div>
			<div class="span5 benefits-img">
				<img src="{% static 'images/you.jpg' %}" />
			</div>
			<div class="span5 cl benefits-img">
				<img src="{% static 'images/publishers.jpg' %}" />
			</div>
			<div class="span7 publishers">
				<div class="benefits-container">
				<h3>Creators</h3>
				<p>Content creators deserve to make money from their work, but audiences today feel forced to pay, not necessarily motivated. CentUp changes behaviors by making social good a core element of the publishing business model.</p>

				<!--<span><a class="button btn-custom" href="/publisher">Earn Money</a></span>-->
				</div>
			</div>
			<div class="span7 charities cl">
				<div class="benefits-container">
					<h3>And Charities</h3>
					<p>One of the most common reasons people don't donate more online is because they forget. CentUp is an active reminder to give, and it lives where people are spending an enormous amount of time and attention each day: online.</p>
					<!--<span><a class="button btn-custom" href="{% url 'charities:index' %}">Attract Donors</a></span>-->

					<!--Insert Charity List -->
					<div>
						<div class="row">
							<ul class="sidebar-list-2">
							{% for charity in charities %}
								{% if charity.active %}
									<li>
										<a href="{{root_url}}/charity/{{charity.slug}}"><img src="{{charity.logo.url}}" style="width:50px;height:50px;" alt=""></a>
									</li>
								{% else %}
								{% endif %}
							{% endfor %}
							</ul>
						</div>
					</div>
					<!--Insert Charity List -->

				</div>

			</div>
			<div class="span5 benefits-img">
				<img src="{% static 'images/charities.jpg' %}" />
			</div>
		</div>

			<div class="row generic-home-padding borders">
						<div class="signup-call-out">
							<center>
							<span>Now are you ready to sign up?</span> <a class="using-facebook" href="{% url 'socialauth_begin' 'facebook' %}?{{ redirect_querystring }}"><button class="btn-large btn-facebook" ><i class="icon-facebook icon-white"></i> | Connect with Facebook</button></a> 
							</center>
						</div>

						<center>
							<p>- or - <a href="{% url 'signup' %}" >Sign Up via email</a></p>
						</center>	
					</div>
				</div>
			




	</div>
</div><!--End main container content-->



<script src="http://localhost:5000/button.js"></script>
{% endblock content %}
