{% extends "base.html" %}
{% load staticfiles %}

{% block head %}

<style>
	.center {
		text-align: center;
	}
	
	.mb40
	{
		margin-bottom: 40px;
	}
	
	.options
	{
		margin-top:14px;
	}
	
	.options li
	{
		margin-bottom: 14px;
	}
</style>

{% endblock head %}

{% block content %}
	<div class="row white detail-page charity">
		<div class="generic-home-padding">
			<h1>Publisher 101</h1>
			<p class="mb40">Content creators deserve to make money from their work, but audiences today feel forced to pay, not necessarily motivated. CentUp changes behaviors by making social good a core element of the publishing business model.</p>
			
			<div class="mb40">
				<h3>How much do I earn?</h3>
				<div class="span6">Every small donation your fans throw your get way gets split evenly between you and one of our charities. CentUp's cut helps cover transaction fees and growing our business to help more people like you.
				</div>
				<div class="span5 center">
					<img src="{% static 'images/publisher-graph.png' %}" width="200" height="200" alt="graph"/>
				</div>
				<div class="clearfix"></div>
			</div>
			
			<div class="mb40">
				<h3>Who chooses the charity?</h3>
				<div class="span5">
					<img src="{% static 'images/charity_logos.png' %}" width="300" height="250" alt="charities"/>
				</div>
				<div class="span6">Your fans (donors) choose the charity that half their funds go to. Ultimately they're the ones opening their wallets and we felt it was important to give them the choice of where their money is directed. As for your half, do what you wish! The two most common routes are:
				<ul class="options">
					<li><strong>Option 1: Keep Your Half</strong><br/>
					Let your readers know they’re paying for things like servers, equipment, mailchimp, etc. 
					</li>
					<li><strong>Option 2: Donate Your Half</strong><br/>
					Donate to whatever cause you’d like! 
					</li>
				</div>
				<div class="clearfix"></div>
			</div>
			
			<div class="mb40">
				<h3>How do my fans sign up?</h3>
				<div class="span6">Similar to other social buttons, users will be asked to login or sign up when clicking on our button. It takes a few minutes to create an account and load funds with a credit card. Users are asked to load at least $10 on their account (When they hit zero, their account reloads automagically).
				</div>
				<div class="span5 center">
					<img src="{% static 'images/cu_accepted_cc.png' %}" alt="credit cards"/>
				</div>
				<div class="clearfix"></div>
			</div>
			
			<div class="clearfix">
				<h3>Will I get stats?</h3>
				<div class="span5">
					<img src="{% static 'images/stats.png' %}" alt="stats"/>
				</div>
				<div class="span6">The CentUp dashboard will show you who your biggest fans are, and what content is generating the most contributions for you. Lot more valuable than counting likes and tweets right?</div>
				<div class="clearfix"></div>
				<div class="clearfix"></div>
			</div>

			
		</div>
	</div>
	<div class="row beige">
		<div class="generic-home-padding shadow-top faq">
			<h2>FAQ</h2>
			<span class="question">Q: I want CentUp on my site. Can I just install it via some code?</span>
			<p class="answer">A: Installing CentUp is pretty easy and we’ve built it for several popular platforms like Tumblr, Wordpress, Drupal and more. To maintain a quality experience for our users, we’re going to personally approve every publisher who requests a CentUp account. This will help prevent any evil-doers from putting CentUp on their site. We’ll scale this list extremely frequently and keep the community informed of where they can spend their cents.</p>

			<span class="question">Q: What's the incentive for my readers?</span>
			<p class="answer">A: There are many reasons your readers will want to give to you besides the obvious desire to support your creative work. To name a few, 1) it will help you lessen your reliance on advertising revenue 2) many of our publishers reward their biggest fans by looking for their biggest donors and offering them things like exclusive content, digital downloads, or even one-on-one time over a video call. 3) They’ll have an easy and frequent mechanism to do good for the world next to something they’re already passionate about: your content.</p>

			<span class="question">Q: How will CentUp track my earnings?</span>
			<p class="answer">A: Each publisher will have a running total of donations on their dashboard with a total and an indicator showing which content is getting the most money. For now, we’ll display the names of who your donors are and in time, we’ll develop a messaging system so you can contact your biggest fans directly.</p>

			<span class="question">Q: How does CentUp make money? You're a for-profit company right?</span>
			<p class="answer">A: Yes we are. But think less Mr. Burns and more Richard Branson. We believe in the idea of conscious capitalism and that often businesses can do more for the world when they’re building social good into their business model. We take a 10% cut to cover the cost of financial transfers and to expand CentUp so more writers and charities can enjoy the benefits of the network.</p>

			<span class="question">Q: Someone is using my content without permission and earning money via CentUp. Help?</span>
			<p class="answer">A: Please let us know immediately. The mission of our company is to help content creators and we know that the web has been both a gift and a curse in terms of content distribution. We want to work with you closely to ensure your original work is protected.</p>

			<span class="question">Q: I work with a specific charity. Can you add it?</span>
			<p class="answer">A: To avoid diluting the power of the CentUp community, we’re going to start with a select few charities that range in focus. As CentUp grows, so will the number of non-profits that you can support. If you have a suggestion for a national non-profit that we should consider, please let us know. We’re open to the discussion, but keep in mind the demand for inclusion is high.</p>

			<span class="question">Q: Are my fans limited to giving just pennies? I think I can get more.</span>
			<p class="answer">A: People are only limited by the amount of money in your CentUp account. Giving a few cents at a time is completely ok, but if your fans find something compelling and want to give more they absolutely can.</p>

			<span class="question">Q: What if my site has multiple authors? Can each of them get their own CentUp account.</span>
			<p class="answer">A: For the time being, we’re designating every domain (website) to one specific owner. If your site has 10 bloggers that work for you, it will be up to you to distribute your earnings as you see fit. Some of our publishers treat CentUp like ad revenue and simply use it to help pay the admin costs of running their site. The choice is yours. As our analytics grow more detailed, we’ll implement methods for making this process easier for you.</p>

			<span class="question">Q: Why is now the time for a platform like this to succeed?</span>
			<p class="answer">A: Amanda Palmer, Louis C.K., Andrew Sullivan, Aziz Ansari,
, Kickstarter, Indiegogo and the list goes on. We’re experiencing an unprecedented level of direct compensation from fans to creators. CentUp wants to be one more powerful tool to make that value exchange easier. As as content creator, we want you to join us as this behavioral shift gets ready to explode.</p>

			<span class="question">Q: I have a question and it’s not mentioned here. Can I get in touch?</span>
			<p class="answer">A: Please email us at <a href="mailto:team@centup.org">team@centup.org</a>. We’ll try to get back to you quickly. If you include a picture of puppies, bacon, or 80s video games, we’ll reply faster.</p>
		</div>
	</div>
{% endblock content %}