{% extends "base.html" %}
{% load staticfiles %}

{% block head %}

{% endblock head %}

{% block content %}
	<div class="row white detail-page charity">
		<div class="generic-home-padding">

		<h1>You're great.</h1>

		<p>You'll receive an email from the team confirming your spot in line. In the meantime, if there are great content creators out there you want to support, let them know about CentUp.</p>

		<a href="https://twitter.com/share" class="twitter-share-button" data-url="http://www.centup.org" data-text="I'm on the CentUp invite list" data-size="large">Tweet</a>
		<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>

		<br><br><br><br><br><br><br><br><br><br><br><br><br><br>

		</div>

	</div>
{% endblock content %}

