{% extends "base.html" %}
{% load staticfiles %}

{% block head %}

{% endblock head %}

{% block content %}
	<div class="row white detail-page charity">
		<div class="generic-home-padding">

		<h1>Request an Invite</h1>

		<p>We can put some wonderfully wrtten and compelling messaging here.</p>

		<form action="{% url 'request_invite_code' %}" method="post">
		 	{% csrf_token %}
			<input type="text" name="email" />
			<input class="btn-custom" type="submit" value="Save">

		<form>

		</div>

	</div>
{% endblock content %}



