{% extends "base.html" %}
{% load staticfiles %}

{% block head %}

{% endblock head %}

{% block content %}
	<div class="row white detail-page charity">
		<div class="generic-home-padding">

		<h1>Your request failed</h1>

		<p>You did something wrong. Go back and try again. If that still doesen't work and you'd like to be added to the list manually email team@centup.org</p>

		</div>

	</div>
{% endblock content %}


