{% extends "base.html" %}
{% load staticfiles %}

{% block head %}
<style>
	ol li {
    counter-increment: root;
	}

	ol li ol {
	    counter-reset: subsection;
	    list-style-type: none;
	}

	ol li ol li {
	    counter-increment: subsection;
	}

	ol li ol li:before {
	    content: counter(root) "." counter(subsection) " ";
	    font-weight:bold;
	}
</style>

{% endblock head %}

{% block content %}
<div class="row white detail-page charity">
	<div class="generic-home-padding">

	<h1>Terms & Conditions</h1>


	<ol>
		<li>
			<b>Acceptance of the Terms of Use</b>
			<p>CentUp Industries LLC, an Illinois limited liability corporation, ("CentUp", "we" or "us"), is an online platform for community members to support charities and publishers. The following terms and conditions (these "Terms of Use") govern your access to and use of www.centup.org, (the "Website"), including any content, functionality and Services offered on or through the Website.  We refer to users who donate money through the Service as “Community Member(s).” We refer to the approved authors of online content as “Publishers” and the charitable organizations that receive Contributions (as defined  below) through the Service as “Non-Profits”.  Publishers and Non-Profits are both referred to as “Recipients.” Any user of the Website or Services will be referred to as a “User” “you” or “your”.</p>

<p>Please read the Terms of Use carefully before you start to use the Website or Services. By using the Website or by clicking to accept or agree to the Terms of Use when this option is made available to you, you accept and agree to be bound and abide by these Terms of Use and our Privacy Policy, found at www.centup.org/privacy incorporated herein by reference.  If you do not want to agree to these Terms of Use or the Privacy Policy, you must not access or use the Website.</p> 

<p>This Website is offered and available to Users who are 18 years of age or older, and reside in the United States or any of its territories or possessions. By using this Website, you represent and warrant that you are of legal age to form a binding contract and meet all of the foregoing eligibility requirements. If you do not meet all of these requirements, you must not access or use the Website.</p>
		</li>

		<li>
			<b>Changes to the Terms of Use.</b>
			<p>We may revise and update these Terms of Use, including the Service Fee and Services (defined below) from time-to-time in our sole discretion. All changes are effective immediately when we post them, and apply to all access to and use of the Website thereafter. Your continued use of the Website following the posting of revised Terms of Use means that you accept and agree to the changes. You are expected to check this page from time-to-time so you are aware of any changes, as they are binding on you.</p> 
		</li>

		<li>
			<b>Account Creation and Security.</b>
			<p>In order to use the Services, Community Members and Recipients need to maintain an account with us (an “Account”).  Community Members are required to provide the following information to set up their Account: name, username and password, email address, and avatar image (optional), and credit card information (collected and stored securely directly by a third-party credit card processor).  Non-Profits must provide the following information to set up their Account:  phone number, payment address, PayPal or Dwolla ID, secondary contact name, and email address. Publishers must provide the following information to set up their Account: payment address and PayPal or Dwolla ID (if applicable).  We refer to any of this information as “Account Information”.  During the time that you use the Services, you shall keep all Account Information up-to-date and accurate.  If you choose, or are provided with, a username, password or any other piece of information as part of our security procedures, you must treat such information as confidential, and you must not disclose it to any other person or entity. You also acknowledge that your Account is personal to you and agree not to provide any other person with access to this Website or portions of it using your username, password or other security information. You agree to immediately notify us of any unauthorized access to or use of your username, password, or any other breach of security. You should use particular caution when accessing your Account from a public or shared computer so that others are not able to view or record your password or other personal information.  We have the right to disable any username, password or other identifier, whether chosen by you or provided by us, at any time in our sole discretion for any or no reason, including if, in our opinion, you have violated any provision of these Terms of Use.</p>
		</li>

		<li>
			<b>Links to Third-Party Websites.</b> 
			<p>Our Service may contain links to third-party websites, advertisers, services, special offers, or other events or activities that are not owned or controlled by CentUp (for instance, the option to login to CentUp through Facebook). We do not endorse or assume any responsibility for any such third-party sites, information, materials, products, or services. If you access any third party website, service, or content from CentUp, you do so at your own risk and you agree that CentUp will have no liability arising from your use of or access to any third-party website, service, or content.</p>
		</li>

		<li>
			<b>CentUp Services.</b>
			<p>CentUp provides an online platform that allows Community Members to allocate CentUps (defined below) to Recipient chosen by the Community Member as a show of support for such Recipients and their work.  Once certain thresholds are met, CentUp allows Recipients to redeem CentUps for cash, (the “Service(s)”). More information on the Services is provided below.  CENTUP RESERVES THE RIGHT TO ADD, SUBTRACT, OR CHANGE THESE SERVICES AT ANY TIME.</p>
			<ol>
				<li>
					<b>Contributions and Recipient Redemption</b>
  					<p>Publishers will display an interactive button that connects the content they post on the Internet to the Service (the “CentUp Button”).  Community Members can allocate credits worth one cent ($0.01) (a “Cent”) to a Publisher by clicking on the CentUp Button, which takes the Community Member to the Website.  On the Website, the Community Member selects the number of CentUps to send to the Recipient (a “Contribution”).  CentUp will retain 10% of each Contribution as a fee for the Services (the “Service Fee”).  The remaining Contribution will be credited to the Recipients chosen by the Community Member as follows (1) 45% of the Award will be credited to the Publisher, and (2) 45% of the Contribution will be credited to the Non-Profit selected by the Community Member.</p> 

					<p>The Recipients will be able to redeem each CentUp in such Recipient’s Account for one U.S. cent ($0.01) in accordance with these Terms of Use.  Publishers will be able to redeem the CentUps in such Publisher’s Account on demand of the Publisher at any time when the Account has at least $100.00 worth of CentUps in it.  A Non-Profit will receive an automatic redemption of CentUps monthly when such Non-Profit’s Account reflects a balance of $1,000.00 worth of Cents.  All Users will be entitled to redeem the cash value of the CentUps in such User’s Account upon termination of the Account.  Payments to Recipients shall be made to the PayPal account designated by such Recipient in the Account Information.</p>

					<p>Notwithstanding any other provision of these Terms of Use, if CentUp determines in its sole discretion that a User has violated the conditions and restrictions of the Website or Terms of Use, CentUp has the right to refuse to process a redemption. CentUp reserves the right, at its sole discretion, to place a hold on redemptions (pending an investigation) if CentUp suspects monies may be subject to charge back, bank reversal, failure to clear or fraud.</p>

					<p>We reserve the right, at any time to change and/or increase the fees for access to portions of the Service or the Service as a whole, at the sole discretion of CentUp and upon reasonable notice posted in advance on the Website.</p>
				</li>

				<li>
					<b>Fraudulent Transactions; Erroneous or Duplicate Transactions; Charge Backs.</b>  
					<p>CentUp reserves the right to seek reimbursement from a Recipient, and Recipient will reimburse CentUp, if CentUp discovers a fraudulent transaction, erroneous or duplicate transaction, or if CentUp receives a charge back or reversal (attributable to a Contribution made to such Recipient) from any User’s credit card company, bank, or PayPal for any reason.  Users agree to and acknowledge CentUp’s right to investigate any and all transactions for fraud.  Further, you agree to cooperate with any reasonable requests made by CentUp in an effort to investigate fraud. Recipients agree that CentUp has the right to obtain such reimbursement by charging your Account, deducting amounts from future transfers, charging your credit card or any bank account associated with your Account, or obtaining reimbursement from you by any other lawful means, including using a third party collection agency. Failure to pay for reimbursements of a charge back or a reversal of payment is cause for termination of your Account.</p>
				</li>

				<li>
					<b>Authorized Payments are Final.</b>  
					<p>Your use of the Services constitutes your agreement to pay for any amounts you make on the Service.  Such payments, once authorized, are final. When a Recipient has redeemed the CentUps from a Contribution (i) CentUp shall have no further liability to any party with respect to such redemption and/or Contribution, (ii) Users acknowledge that CentUp has provided a complete service with respect to such redemption and/or Contribution and (iii) Users and hereby release CentUp from any and all liability with respect to such redemption and/or Contribution. A User may request a refund by sending an email to team@centup.org. Once a Contribution has been redeemed by a Recipient, a Community Member cannot request a refund.  All refund requests made for Contributions prior to such Contribution being redeemed by a Recipient will be reviewed by CentUp on a case-by-case basis.  When a Community Member terminates his/her Account, he/she may request a refund for the value of any CentUps in such Community Member’s Account, and such refund shall be processed within thirty (30) days.</p>
				</li>

				<li>
					<b>Currency.</b>  
					<p>CentUp operates in US Dollars and therefore CentUp is not responsible for currency fluctuations that occur when billing or crediting a credit or debit card denominated in a currency other than US Dollars, nor is CentUp responsible for currency fluctuations that occur when receiving or sending payment via credit card or PayPal.</p>
				</li>

				<li>
					<b>No Agency.</b>  
					<p>CentUp allows Users to support their favorite Publishers and Non-Profits through the use of credits we refer to as “CentUps”.  In this way, we act as a corporate giving provider by creating, hosting, maintaining, and providing the Services to you via the Internet. CentUp is not a credit card processor.  We use a third-party service provider for all payment processing transactions.  Nothing in these Terms of Use will be deemed to constitute CentUp as your agent with respect to any funds that have been transferred to CentUp for any Contribution or subsequent redemption by a Recipient or expand or modify any warranty, liability or indemnity stated in these Terms of Use. By using the Services, you expressly acknowledge that (a) CentUp is not acting as a trustee or a fiduciary of Users and that the Services are provided to Users administratively; (b) CentUp is not a “financial institution” as defined under the Bank Secrecy Act (BSA) and the Services are payment services rather than a banking services; (c) CENTUP IS NOT A BANK AND ANY PAYMENTS TRANSFERRED THROUGH CENTUP ARE NOT INSURED DEPOSITS AND ARE SUBJECT TO DEFAULT, LOSS OR FORFEITURE.</p>
				</li>

				<li>
					<b>Service Availability.</b>  
					<p>We reserve the right to withdraw or amend this Website, and any Service, function or material we provide on the Website, in our sole discretion without notice. We will not be liable if, for any reason, all or any part of the Website is unavailable at any time or for any period. From time to time, we may restrict access to some parts of the Website, or the entire Website, or to Users.</p>
				</li>

			</ol>
		</li>

		<li>
			<b>User Content</b>  
			<p>You agree that you are solely responsible for any content that you upload, post, use, or otherwise make available on this Website ("User Content"). Although CentUp has no obligation to screen, edit or monitor any of the User Content or user conduct on this Website, CentUp reserves the right, and has absolute discretion, to remove, screen or edit any User Content and to monitor any user conduct on this Website at any time and for any reason without notice. You are solely responsible for creating backup copies and replacing any of your User Content at your sole cost and expense.</p>

<p>By posting User Content to this Website, you represent and warrant that (a) the User Content is non-confidential; (b) you have all necessary rights to post the User Content to the Website and to grant the rights to CentUp that you grant in these Terms; (c) the User Content is accurate and not misleading or harmful in any manner; (d) the User Content, and your use and posting thereof in connection with this Website, does not and will not violate these Terms or any applicable local, state, national or international statute, regulation, or law.</p>
		</li>

		<li>
			<b>Relationship and Taxes</b>  
			<p>These Terms of Use and any registration for or subsequent use of this Website by any User will not be construed as creating or implying any relationship of agency, franchise, partnership or joint venture between you and CentUp, except and solely to the extent expressly stated.</p>

			<p>Users are responsible for payment and reporting of any taxes. CentUp is not obligated to determine the applicability of any taxes or to remit, collect or report any such applicable taxes. You agree that you will abide by any and all applicable state and federal tax statutes, regulations and common law. At CentUp’s request, Recipients must provide receipts for all payments received. In the event CentUp receives a notice of non-compliance with any such statute, regulation or common law, including, without limitation, an Internal Revenue Service Levy, CentUp will deem such receipt a breach of this section and will suspend your Account until CentUp receives an Internal Revenue Service Release.</p>

			<p>All donations made to a Recipient are made directly by CentUp, not any Community Member.  No Contributions made to a Recipient through the Service are tax deductible to the Community Member.</p>
		</li>

		<li>
			<b>Account Termination</b>  
			<p>Users may terminate their Account at any time effective immediately by contacting us at <a href="mailto:team@centup.org">team@centup.org</a>, using the subject line “CANCEL”. Community Members will be entitled to a refund (within 30 days) for the value of any CentUps remaining in his/her Account at the time of termination minus a ten percent (10%) processing fee that will be retained by CentUp. Recipients who cancel their Accounts will be entitled to redeem the value of any CentUps remaining in such Recipient’s Account within 30 days of such termination date.  Upon termination, all rights and obligations under these Terms of Use, including, but not limited to the license in Section 9 shall terminate.</p>

			<p>Without limiting our other remedies, CentUp may issue a warning, or temporarily suspend, indefinitely suspend or terminate an Account, and refuse to provide any or all of the Services if (1) you breach the letter or spirit of any terms and conditions of these Terms of Use or the policies and information incorporated herein by reference, including our written policies and procedures posted on the Website; (2) we are unable to verify or authenticate any information you provide to us; (3) we believe in our sole discretion that your actions may cause legal liability for you, our Users or for CentUp or are contrary to the interests of the Website; or (4) for any other reason in the sole discretion of CentUp. Once indefinitely suspended or terminated, you must discontinue your use the Website and Services, and cannot register under a new account.  If we terminate a Recipient’s Account, we have the right to return funds to users who made a Contribution to such Recipient after a public announcement has been made.</p>

			<p>After one year of inactivity on a Community Member’s Account, CentUp reserves the right to terminate such Community Member’s Account and refund the value of any CentUps remaining in such Account at the time of termination minus a ten percent (10%) processing fee.</p>
		</li>

		<li>
			<b>Prohibited Uses</b>  
			<p>In connection with the Services or your use of the Website, you will not:</p> 
				<ul>
					<li>Breach this agreement;</li>
					<li>Violate any applicable federal, state, local or international law or regulation;</li> 
					<li>Violate the legal rights (including the rights of publicity and privacy) of others or contain any material that could give rise to any civil or criminal liability under applicable laws or regulations or that otherwise may be in conflict with these Terms of Use and our Privacy Policy, www.centup.org/privacy;</li>  
					<li>Infringe CentUp’s, any User’s or any third party’s copyright, patent, trademark, trade secret or other intellectual property rights, or rights of publicity or privacy;</li>
					<li>Act in a manner that is defamatory, trade libelous, threatening or harassing;</li>
					<li>Provide false, inaccurate or misleading information;</li>
					<li>Send or receive what we reasonably believe to be potentially fraudulent funds;</li>
					<li>Impersonate any person, or misrepresent your identity or affiliation with any person or organization or in any way that is likely to deceive any person;</li> 
					<li>Refuse to cooperate in an investigation or provide confirmation of your identity or any information you provide to us;</li>
					<li>Use an anonymizing proxy;</li>
					<li>Conduct your business or use the Services in a manner that results in or may result in complaints, disputes, claims, reversals, chargebacks, fees, fines, penalties and other liability to CentUp, other Users, third parties or you;</li>
					<li>Send unsolicited messages to a User or use the Services to collect payments for sending, or assisting in sending, unsolicited email to third parties;</li>
					<li>Take any action that imposes an unreasonable or disproportionately large load on our infrastructure;</li>
					<li>Facilitate any viruses, Trojan horses, worms or other computer programming routines that may damage, detrimentally interfere with, surreptitiously intercept or expropriate any system, data or information;</li>
					<li>Use any robot, spider, other automatic device, or manual process to monitor or copy our Website without our prior written permission
					<li>Use any device, software or routine to bypass our robot exclusion headers, or interfere or attempt to interfere with our Website or the Services;</li>
					<li>Take any action that may cause us to lose any of our services from our internet service providers, payment processors, or other suppliers;</li>
				</ul>
				<br>
				<p>CentUp will not be held liable for the violation of the above terms or any other illegal activity not foreseen at the time.</p>
		</li>

		<li>
			<b>Intellectual Property Rights</b>  
			<p>The Website and its entire contents, features and functionality (including but not limited to all information, software, text, displays, images, video and audio, and the design, selection and arrangement thereof), are owned by CentUp, its licensors or other providers of such material and are protected by United States and international copyright, trademark, patent, trade secret and other intellectual property or proprietary rights laws.</p>

			<p>These Terms of Use permit you to use the Website for the limited purposes provided in these Terms of Use. You must not reproduce, distribute, modify, create derivative works of, publicly display, publicly perform, republish, download, store or transmit any of the material on our Website, except as follows:</p>

			<p>Your computer may temporarily store copies of such materials incidental to your accessing and viewing those materials.</p>

			<p>You may store files that are automatically cached by your Web browser for display enhancement purposes.</p>

			<p>You may print one copy of a reasonable number of pages of the Website for your own personal, non-commercial use and not for further reproduction, publication or distribution.</p>

			<p>You must not:</p>

			<p>Modify copies of any materials from the Website.</p>

			<p>Use any illustrations, photographs, video or audio sequences or any graphics separately from the accompanying text.</p>

			<p>Delete or alter any copyright, trademark or other proprietary rights notices from copies of materials from the Website.</p>

			<p>If you wish to make any use of material on the Website other than that set out in this section, please address your request to: <a href="mailto:team@centup.org">team@centup.org</a>.</p>

			<p>If you print, copy, modify, download or otherwise use or provide any other person with access to any part of the Website in breach of the Terms of Use, your right to use the Website will cease immediately and you must, at our option, return or destroy any copies of the materials you have made. No right, title or interest in or to the Website or any content on the Website is transferred to you, and all rights not expressly granted are reserved by CentUp. Any use of the Website not expressly permitted by these Terms of Use is a breach of these Terms of Use and may violate copyright, trademark and other laws.</p>
		</li>

		<li>
			<b>Copyright Infringement</b>  
			<p>We take claims of copyright infringement seriously. We will respond to notices of alleged copyright infringement that comply with applicable law. If you believe any materials accessible on or from the Services infringe your copyright, you may request removal of those materials (or access thereto) from the Services by submitting written notification to our Copyright Agent (designated below). In accordance with the Online Copyright Infringement Liability Limitation Act of the Digital Millennium Copyright Act (17 U.S.C. § 512) ("DMCA"), the written notice (the "DMCA Notice") must include substantially the following:</p>

			<p>Your physical or electronic signature.</p>

			<p>Identification of the copyrighted work you believe to have been infringed or, if the claim involves multiple works on the Services, a representative list of such works.</p>

			<p>Identification of the material you believe to be infringing in a sufficiently precise manner to allow us to locate that material.</p>

			<p>Adequate information by which we can contact you (including your name, postal address, telephone number and, if available, email address).</p>

			<p>A statement that you have a good faith belief that use of the copyrighted material is not authorized by the copyright owner, its agent or the law.</p>

			<p>A statement that the information in the written notice is accurate.</p>

			<p>A statement, under penalty of perjury, that you are authorized to act on behalf of the copyright owner.</p>

			<p>Our designated Copyright Agent to receive DMCA Notices is:</p>

			<p>Copyright Agent – Leonard Kendall<br>
			<a href="mailto:team@centup.org">team@centup.org</a></p>


			<p>It is our policy, in appropriate circumstances, to disable and/or terminate the accounts of Users who are repeat infringers.</p>
		</li>

		<li>
			<b>License</b>  
			<p>During the period when a Recipient uses the Services, CentUp grants to each Recipient a limited, royalty-free, non-exclusive, non-transferable, non-sublicensable license to use CentUp’s logo and company name as such they appear on the CentUp Button. This license, and all use of the CentUp Button, shall terminate upon termination of the Recipient’s Account.</p>

			<p>During the period when a Recipient uses the Services, each Recipient grants to CentUp a limited, royalty-free, non-exclusive, non-transferable, non-sublicensable license to use Recipient’s logo and company name on CentUp’s Website and marketing materials to convey participation in the Services.</p>  

			<p>Each party agrees to (i) not use any other marks or designations in close proximity to the licensor’s logo or combine the logo with other marks without the licensor’s prior written approval, (ii) clearly indicate that logo licensor is the owner of the logo, and (iii) not contest in any way the licensor’s right, title and interest in the logo. All goodwill associated with the each party’s logo will inure to the benefit of the licensor. Should a party notify the other that any instance of use of the logo does not conform to the standards and guidelines provided by the licensor, the licensee will promptly bring such use into conformance and provide the licensor specimens of such conforming use; otherwise the licensor will have the right to terminate the licensee’s right and license to use the logo `upon written notice.</p>
		</li>

		<li>
			<b>Trademarks.</b>  
			<p>CentUp’s name, the company logo and all related names, logos, product and service names, designs and slogans are trademarks of CentUp or its affiliates or licensors. You must not use such marks without the prior written permission of CentUp. All other names, logos, product and service names, designs and slogans on this Website are the trademarks of their respective owners.</p>
		</li>

		<li>
			<b>Privacy Statement.</b>  
			<p>Protecting your privacy is very important to us. Please review our Privacy Policy, <a href="">www.centup.org/privacy</a>, in order to better understand our commitment to maintaining your privacy, as well as our use and disclosure of your information.</p>
		</li>

		<li>
			<b>Geographic Restrictions.</b>  
			<p>The owner of the Website is based in the state of Illinois in the United States. We provide this Website for use only by persons located in the United States. We make no claims that the Website or any of its content is accessible or appropriate outside of the United States. Access to the Website may not be legal by certain persons or in certain countries. If you access the Website from outside the United States, you do so on your own initiative and are responsible for compliance with local laws.</p>
		</li>

		<li>
			<b>Disclaimer of Warranties.</b>  
			<p>Your use of the website, its content and any services or items obtained through the website is at your own risk. The website, its content and any services or items obtained through the website are provided on an "as is" and "as available" basis, without any warranties of any kind, either express or implied. Neither CentUp nor any person associated with CentUp makes any warranty or representation with respect to the completeness, security, reliability, quality, accuracy or availability of the website. Without limiting the foregoing, neither centup nor anyone associated with CentUp represents or warrants that the website, its content or any services or items obtained through the website will be accurate, reliable, error-free or uninterrupted, that defects will be corrected, that our website or the server that makes it available are free of viruses or other harmful components or that the website or any services or items obtained through the website will otherwise meet your needs or expectations. CentUp hereby disclaims all warranties of any kind, whether express or implied, statutory or otherwise, including but not limited to any warranties of merchantability, non-infringement and fitness for particular purpose.</p>

			<p>The foregoing does not affect any warranties which cannot be excluded or limited under applicable law.</p>
		</li>

		<li>
			<b>Disclaimer of Warranties.</b>  
			<p>In no event will CentUp, its affiliates or their licensors, service providers, employees, agents, officers or directors be liable for damages of any kind, under any legal theory, arising out of or in connection with your use, or inability to use, the website, any websites linked to it, any content on the website or such other websites or any services or items obtained through the website or such other websites, including any direct, indirect, special, incidental, consequential or punitive damages, including but not limited to, personal injury, pain and suffering, emotional distress, loss of revenue, loss of profits, loss of business or anticipated savings, loss of use, loss of goodwill, loss of data, and whether caused by tort (including negligence), breach of contract or otherwise, even if foreseeable.</p>

			<p>The foregoing does not affect any liability which cannot be excluded or limited under applicable law.</p>
		</li>

		<li>
			<b>Indemnification.</b>  
			<p>You agree to defend, hold harmless and indemnify CentUp from and against any and all losses, costs, expenses, damages or other liabilities incurred by CentUp from and against any cost, liability, loss, damage, cause of action, claim, suit, proceeding, demand or action brought by a third party against CentUp: (1) in connection with your use of the Services including any payment obligations incurred through use of the Services (including your User Content); or (2) resulting from: (a) your use of the Website or Services; (b) any breach of contract or other claims made by Users with which you conducted business through the Website; (c) your breach of any provision of these Terms of Use; (d) any liability arising from the tax treatment of payments or any portion thereof; (e) any negligent or intentional wrongdoing by any User; or (f) any act or omission of yours with respect to the payment of Contribution or subsequent Recipient redemption. Any such indemnification shall be conditioned on our: (i) notifying you in writing of any such claim, demand, action, cost, liability, loss or threat of any thereof; (ii) cooperating with you in the defense or settlement thereof; and (iii) allowing you to control such defense or settlement. We shall be entitled to participate in such defense through our own counsel at our own cost and expense. We reserve the right to report any wrongdoing of which we become aware to the applicable government agencies or otherwise.</p>
		</li>

		<li>
			<b>Governing Law and Jurisdiction.</b>  
			<p>All matters relating to the Website and these Terms of Use and any dispute or claim arising therefrom or related thereto (in each case, including non-contractual disputes or claims), shall be governed by and construed in accordance with the internal laws of the State of Illinois without giving effect to any choice or conflict of law provision or rule (whether of the State of Illinois or any other jurisdiction).</p>

			<p>Any legal suit, action or proceeding arising out of, or related to, these Terms of Use or the Website shall be instituted exclusively in the federal courts of the United States or the courts of the State of Illinois in each case located in the City of Chicago and Cook County.  You waive any and all objections to the exercise of jurisdiction over you by such courts and to venue in such courts.</p>
		</li>

		<li>
			<b>Waiver and Severability</b>  
			<p>No waiver by CentUp of any term or condition set forth in these Terms of Use shall be deemed a further or continuing waiver of such term or condition or a waiver of any other term or condition, and any failure of CentUp to assert a right or provision under these Terms of Use shall not constitute a waiver of such right or provision.</p>

			<p>If any provision of these Terms of Use is held by a court or other tribunal of competent jurisdiction to be invalid, illegal or unenforceable for any reason, such provision shall be eliminated or limited to the minimum extent such that the remaining provisions of the Terms of Use will continue in full force and effect.</p>
		</li>

		<li>
			<b>Entire Agreement.</b>  
			<p>The Terms of Use and our Privacy Policy constitute the sole and entire agreement between you and CentUp Industries LLC with respect to the Website and supersede all prior and contemporaneous understandings, agreements, representations and warranties, both written and oral, with respect to the Website.</p>
		</li>

		<li>
			<b>Your Comments and Concerns.</b>  
			<p>All other feedback, comments, requests for technical support and other communications relating to the Website should be directed to <a href="mailto:team@centup.org">team@centup.org</a>.</p>
		</li>
		
		<p>Last Updated: 4/28/2013</p>

	</div>

</div>
{% endblock content %}