{% extends "base.html" %}
{% load cents %}
{% block title %}
    {{charity}} - Dashboard
{% endblock title %}
{% block content %}
<div class="white ">
    <div class="generic-home-padding">
    <h1>{{charity}} Dashboard</h1>
    <p>{{charity.description}}</p>

    <ul class="nav nav-tabs">
        <li class="active"><a href="#overview" data-toggle="tab">Overview</a></li>
        <li><a href="#history" data-toggle="tab">History</a></li>
    </ul>
    <div class="tab-content">
        <div class="tab-pane active" id="overview">

                    <div class="row">
                   <div class="span4">
                    <h4>Your Organization</h4>
                    {% if charity.logo.url %}
                    <img src="{{charity.logo.url}}" style="width:250px;height:100px" title="{{charity}}"/>
                    {% else %}
                    no image here. how did this happen..
                    {% endif %}
                    </div>

                    <div class="span4">
                    <h4>Gifts Waiting to Be Cashed</h4>
                    <p>{{charity.account.balance|dollars}}</p>
                    </div>

                    <div class="span3">
                    <h4>Total Gifts</h4>
                    {{charity.account.balance|dollars}}
                     </div>
                     </div>

        </div>
        <div class="tab-pane" id="history">
           FANCY GRAPH
        </div>
    </div>

    <div class="row">
        <div class="span6">
            <div class="generic-home-padding">
                <h3>Top Donors (Last 90 Days)</h3>
                <table class="table">
                    <tbody>
                        {% for donor, earnings in top_donors %}
                        <tr>
                            <th>
                                {{donor}}
                            </th>
                            <td>
                                {{earnings|dollars}}
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        <div class="span6">
            <div class="generic-home-padding">
            <h3>Top Publishers Earning Gifts</h3>
            <table class="table table-bordered table-striped">
                <tbody>
                    {% for publisher, amount in top_publishers %}
                    <tr>
                        <th>
                            {{publisher}}
                        </th>
                        <td>
                           {{amount|dollars}}
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        </div>
    </div>
</div>


{% endblock content %}
