{% extends "base.html" %}
{% load cents %}
{% load staticfiles %}
{% block title %}
    Centup Charity - {{charity.name}}
{% endblock title %}

{% block pageclass %}content-page{% endblock pageclass %}

{% block content %}

<div class="row white detail-page charity">
    <div class="span9">
        <div class="row detail-header" style="{% if charity.cover %}background-image: url('{{charity.cover.url}}');{% endif %}">

            {% if charity.logo %}
                <img src="{{charity.logo.url}}" width="125" class="logo">
            {% else %}
                <img src="{% static 'images/default_profile.gif' %}" alt="Lincoln">
            {% endif %}

            <div class="detail-header-details">
                <h1>{{charity.name}}</h1>
                <a href="{{charity.url}}" target="_blank">{{charity.url}}</a>

                {% include "charity/button.html" %}
            </div>
        </div>
        <div class="row content-page">
            <h2>About {{charity.name}}</h2>
            
            {% autoescape off %}
            {{charity.description|linebreaks}}
            {% endautoescape %}

        </div>
        
    </div>

    <div class="span3 detail-asside">

        <div class="detail-details">
            <h4>This Month</h4>
            <p class="featured-cents">{{charity.account.balance|dollars}}</p>
            <p class="ico-supporters"><b>{{ charity.supporter_count }}</b> supporters</p>
        </div>


        <div class="asside-list">
            <h3>Top Donors</h3>
            {% for donor, earnings in top_donors %}
            <div class="asside-li">
                {% if donor.large_avatar %}
                    <img src="{{donor.large_avatar.url}}" alt="" width="28">
                {% else %}
                    <img src="{% static 'images/default_profile.gif' %}" alt="" width="28">
                {% endif %}

                
                {% if donor.first_name and donor.last_name %}
                    {{ donor.first_name }} {{ donor.last_name }}</a>
                {% else %}
                    {{ donor.username }}
                {% endif %}
                
                <br>
                {{earnings|dollars}}
            </div>
            {% endfor %}
        </div>

    </div>
</div>





{% endblock content %}
