{% extends "base.html" %}
{% load cents %}
{% block title %}
    Centup Charities
{% endblock title %}

{% block pageclass %}content-page{% endblock pageclass %}

{% block content %}
<div class="general-page generic-home-padding white clearfix">
    <h1>Centup Charities</h1>

    {% include "charity/selector.html" with link_to_details=True %}
</div>

{% endblock content %}
