<div class="charities listing clearfix">
    {% for charity in charities %}
        {% if charity.active %}
            <div class="charity">
                <h2 class="name">{{charity.name}}</h2>
                {% if link_to_details %}
                    <a href="{% url 'charity:detail' slug=charity.slug %}">
                {% endif %}
                {# #TODO use default logo if none is added #}
                <img src="{{charity.logo.url}}" class="logo" />
                {% if link_to_details %}
                    </a>
                {% endif %}
                {% include "charity/button.html" %}
                <p class="description">
                    {{charity.short_description}}
                </p>
                {% if link_to_details %}
                    <p class="more">
                        <a href="{% url 'charity:detail' slug=charity.slug %}">
                            Read more &raquo;
                        </a>
                    </p>
                {% endif %}
            </div>
            {% endif %}
    {% endfor %}
</div>