{% load staticfiles %}
{% load cents %}
<!doctype html>
<html>
	<head>
		<script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
		<link rel="stylesheet" href="{% static 'button/button.css' %}">
		<script src="{% static 'button/button.js' %}"></script>
	</head>
	<body>
		<div id="container" data-posthref="{% url 'accounts:centup' %}" data-popuphref="{% url 'button:success_popup' %}" data-errorhref="{% url 'button:error_popup' %}" data-demohref="{% url 'button:popup_demo' %}" data-url="{{url.url}}" data-csrftoken="{{csrf_token}}" title="{{problem.message}}"><div id="button"><span class="button-text">CentUp</span></div>​<i class="arrow"></i><s class="arrow cover"></s>
			<div id="balance">{{url.total_donations|abbrev_credits}}</div>
		</div>
	</body>
</html>