{% load utils %}
<!doctype html>
<html>
<head>

    <style type="text/css">
        body {
            font-size:50%;
            text-transform: uppercase;
            text-align:center;
            margin:0;
        }
        a {
            text-decoration: none;
            color: blue;
        }
    </style>
</head>
<body>
    <a title="Error: {{error}}" href="{% addurlparameter 'error_page' 'yes' %}" target="_top">Error loading centup button </a>
</body>
</html>
