{% extends "base.html" %}
{% block title %}
    CentUp button setup
{% endblock title %}

{% block head %}
    <script src="https://google-code-prettify.googlecode.com/svn/loader/run_prettify.js?lang=css&skin=sons-of-obsidian"></script>
{% endblock head %}

{% block content %}

<style type="text/css">
    .form-stretch {
        width:90%;
        background-color: #eee;
    }

    .tall {
        height: 260px;
    }

</style>

<div class="general-page generic-home-padding white">
<h1>Setting up your CentUp button</h1>
<h3>All Users</h3>
<ol>
    <li>
        <p>Include the CentUp script at the end of your page, just before the body tag:</p>
        <pre class="prettyprint linenums">{{script}}</pre>
    </li>

    <li>
        <p>Place the following code wherever you want the CentUp button to appear:</p>
        <pre class="prettyprint linenums">{{placeholder}}</pre>

        <p>By default, this will assign the CentUp to the current URL and use the current page's title. However, you can specify your own URL and title using the <tt>data-url</tt> and <tt>data-title</tt> attributes respectively. This may be necessary if you are showing multiple articles on the same page, each with their own CentUp button. For example:</p>
        <pre class="prettyprint linenums">{{url_placeholder}}</pre>
    </li>
          
</ol>

<h3>Tumblr Users</h3>
<ol>
    <li>Login to Tumblr</li>
    <li>In a new tab, go to your Tumblr site</li>
    <li>In the upper right corner, click the "Customize" button</li>
    <li>On the left side bar, click "Edit HTML"</li>
    <li>Scroll down until you find the Text Post section</li>
    <li>
        <p>Paste the code below after   &lt;div class=metadata&gt; (or wherever you want this to go on the post)</p>
       <pre class="prettyprint linenums">{{tumblr_placeholder}}</pre>
    </li>
    <li>Repeat the above step for each kind of post (photo, quote, link, video, etc.) that you use on your Tumblr</li>
    <li>Scroll down until your find "&lt;/body&gt;"</li>
    <li>
        <p>Paste the this code just before "&lt;/body&gt;"</p>
        <pre class="prettyprint linenums">&lt;script src="https://www.centup.org/button.js"&gt;&lt;/script&gt;</pre>
    </li>
    <li>Click the green "Update Preview" button at the top of the page</li>
    <li>Click the green "Save" button next to "Update Preview"</li>
</ol>

<h3>Wordpress Users (Self-Hosted)</h3>
<ol>
    <li>Login to your Wordpress site.</li>

    <li>From the dashboard, in the left sidebar click "appearance" then "editor"</li>
    <li>Make sure your theme is selected in the "Select theme to edit" drop down</li>
    <li>Under "Theme Files" on the right, select "functions.php"</li>
    <li><p>Paste the following code on a line after "&lt;?php":</p>
       <pre class="prettyprint linenums">
// ¢¢¢¢¢¢¢¢¢¢¢¢¢¢¢¢¢¢¢¢¢¢¢¢¢¢¢¢¢¢¢¢¢¢¢¢¢¢¢¢¢¢¢¢¢¢¢¢¢¢¢¢¢¢¢¢¢¢¢¢
// add CentUp Button
// ¢¢¢¢¢¢¢¢¢¢¢¢¢¢¢¢¢¢¢¢¢¢¢¢¢¢¢¢¢¢¢¢¢¢¢¢¢¢¢¢¢¢¢¢¢¢¢¢¢¢¢¢¢¢¢¢¢¢¢¢

function add_centup_button($content) {
	$cu_content .= '&lt;div class="centup" data-url="' . post_permalink() . '"data-title="' . get_the_title() . '"&gt;&lt;/div&gt;';
	$cu_content .= $content;
	return $cu_content;
}
add_filter('the_content', 'add_centup_button');

function add_centup_js(){
    echo '&lt;script src="https://www.centup.org/button.js"&gt;&lt;/script&gt;';
}
add_action('wp_footer', 'add_centup_js');

// ¢¢¢¢¢¢¢¢¢¢¢¢¢¢¢¢¢¢¢¢¢¢¢¢¢¢¢¢¢¢¢¢¢¢¢¢¢¢¢¢¢¢¢¢¢¢¢¢¢¢¢¢¢¢¢¢¢¢¢¢¢
// end CentUp Button
// ¢¢¢¢¢¢¢¢¢¢¢¢¢¢¢¢¢¢¢¢¢¢¢¢¢¢¢¢¢¢¢¢¢¢¢¢¢¢¢¢¢¢¢¢¢¢¢¢¢¢¢¢¢¢¢¢¢¢¢¢¢</pre>
    </li>

    <li>Click "Update File"</li>
</ol>

<h3>Blogger Users</h3>
<ol>
    <li>Login to blogger, and select your blog.</li>
    <li>From your blog overview page, click "Template" in the left column.</li>
    <li>Click the "Edit HTML" button under your live template</li>
    <li>Find "&lt;/body&gt;" toward the bottom of your template. (To find it quickly, search for it using command + F or control + F)</li>
    <li><p>Paste this code on the line before the "&lt;/body&gt;" tag</p>
      <pre class="prettyprint linenums">&lt;script src='https://www.centup.org/button.js'/&gt;</pre>
    </li>
    <li>Click the "Jump to widget" button and select "Blog 1"</li>
    <li>Click the black arrow next to the line number to expand the code if it isn't already.</li>
    <li>Find "id='shareButtons'" and click the black arrow next to the line number to expand the code if it isn't already</li>
    <li><p>Find "&lt;b:if cond='data:top.showDummy'&gt;" and paste this code on the line before it:</p>
        <pre class="prettyprint linenums">&lt;div class='centup' expr:data-title='data:post.title' expr:data-url='data:post.url'&gt;&lt;/div&gt;</pre></li>
<li>Click the "Save template" button</li>


</div>
{% endblock content %}
