{% extends "button/popup.html" %}
{% block head %}
    <script>
    $(function(){
        $('#url').click(function() { window.opener() });
        //a crappy hack for rendering errors from the caller's JS
        //without resorting to a very XSS-able param
        var errorInfo = window.opener._centupErrorInfo;
        if( $("#problem").html() === "" && errorInfo !== undefined ) {
            $("#problem").text(errorInfo.message);
            if( errorInfo.title !== undefined ) {
                $("#title").text(errorInfo.title);
            };
            if( errorInfo.url !== undefined ) {
                $("#url").attr('href', errorInfo.url);
                $("#url").html((errorInfo.urlText|| ""))
            };
            if( errorInfo.hackyExtra !== undefined) {
                $("#url").after(errorInfo.hackyExtra);
            };
        }
    })
    </script>

{% endblock head %}
{% block content %}
    <h1>Oh hey...</h1>
    <p id="problem">{{problem}}</p>
    <a href="" id="url" target="_blank"></a>
{% endblock content %}