{% load staticfiles %}
<!doctype html>
<html>
<head>
    <title>CentUp Button</title>
     <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
     <link href='//fonts.googleapis.com/css?family=Montserrat+Alternates:400,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="{% static 'button/popup.css' %}">
    <script src="{% static 'ext/html5slider.js' %}"></script>
    {% block head %}{% endblock head %}

<style type="text/css">
	body {
		background-color: #fff;
	}

	#content {
		background-color: #fff;
	}

    .popup-myacct {
        font-size: 12px;
        color: #666;
    }
	
</style>

</head>
<body>
    <div class="popup-container">
        <div class="popup-head">
            <div class="popup-logo"><img src="{% static 'images/cent-icon.png' %}"></div>
            <div class="popup-logo-text">CentUp</div>

            {% if user.is_authenticated %}
            <div class="popup-myacct">
                <a href="{{root_url}}/publisher" target="_blank">Where Can I use CentUp?</a> |
                <a href="{% url 'users:dash' %}" target="_blank" id="go2account">My Account</a>
            </div>
            {% else %}
            <div class="popup-myacct">
                <a href="{% url 'login' %}?{{REDIRECT_FIELD_NAME}}={{request.get_full_path}}">Login</a> 
            </div>
            {% endif %}

        </div>

        <div class="popup-body">
            {% block content %}{% endblock content %}
        </div>

        <div class="popup-footer">
            <a href="/terms" target="_blank">CentUp Terms & Conditions</a>
        </div>  

    </div>
        <!-- Google Analytics -->
            <script type="text/javascript">
                var _gaq = _gaq || []; 
                _gaq.push(['_setAccount', 'UA-33175865-1']); 
                _gaq.push(['_trackPageview']);

                (function() { 
                var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true; 
                ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js'; 
                var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s); 
                })();
            </script>
</body>
</html>