{% extends "button/popup.html" %}

{% block head %}
        <script>
            var slider;
            $(function(ev) {
                $(".popup-slider input").on('change', updateCounter);
                updateCounter();

            })
            function updateCounter() {
                var value = Number($(".popup-slider input").val());
                $("#counter").html("&cent;" + value);
            }
            $('#go2account').on('click', function(){ window.close(); });


                window.twttr = (function (d,s,id) {
                  var t, js, fjs = d.getElementsByTagName(s)[0];
                  if (d.getElementById(id)) return; js=d.createElement(s); js.id=id;
                  js.src="https://platform.twitter.com/widgets.js"; fjs.parentNode.insertBefore(js, fjs);
                  return window.twttr || (t = { _e: [], ready: function(f){ t._e.push(f) } });
                }(document, "script", "twitter-wjs"));


        </script>
        <!--Shitty CSS overide-->
        <style type="text/css">
            .popup-increase-container {
                margin-top: -10px;
            }
        </style>


{% endblock head %}
{% block content %}


        <h1>Thank You!</h1>
        <p>You just donated <span class="popup-amount">{{amount}} CentUp credits</span>.
            Your pledge will be split evenly between
            <span class="publisher">
                <a href="{{publisher.url}}" target="_blank">{{publisher}}</a>                
            </span>
            and 
            <span class="publisher">
                <a href="{% url 'charity:detail' slug=charity.slug %}" target="_blank">{{charity}}</a>    
            </span>
            .
        </p>
            <p>
                <a href="http://twitter.com/intent/tweet?text=I just gave a few cents to {{title}} - {{url}}&url=/" class="twitter-share-button" data-count="none">Tweet</a>
                
            </p>
        <div class="popup-increase-container">
            <h2>Donate more?</h2>
            <form action="{% url 'button:extra_donation' %}" method="post">
                <div class="slider-container">
	                <div class="popup-slider">
	                    <input type="range" name="extra_donation" value="0" max="100" />
	                </div>
	                <div class="popup-counter">
	                    <div id="counter">.0</div>
	                    <input type="hidden" name="url" value="{{url}}" />
	                    {% csrf_token %}
	                </div>
                    <div class="available"> {{acct_balance}}<br>available</div>
	                <div class="clear-fix"> </div>
                </div>
                <div class="popup-increase">
	                <input type="submit" class="btn-custom" value="Increase!"> 
                    <a href="javascript:window.close()">No thanks</a>
                </div>
            </form>
           
        </div>


{% endblock content %}
