{% extends "button/popup.html" %}
{% block head %}
    <script>
    $(function() {
        window.opener.showCentup({
            action: '{{action|escapejs}}',
            amount: '{{amount|escapejs}}',
            balance:'{{balance|escapejs}}',
            charity:'{{charity|escapejs}}',
            pubisher:'{{publisher|escapejs}}',
            title:'{{title|escapejs}}',
        });
    });
    </script>


    <script type="text/javascript">
        window.twttr = (function (d,s,id) {
          var t, js, fjs = d.getElementsByTagName(s)[0];
          if (d.getElementById(id)) return; js=d.createElement(s); js.id=id;
          js.src="https://platform.twitter.com/widgets.js"; fjs.parentNode.insertBefore(js, fjs);
          return window.twttr || (t = { _e: [], ready: function(f){ t._e.push(f) } });
        }(document, "script", "twitter-wjs"));

    </script>

    
{% endblock head %}
{% block content %}

    <h1>Thanks for making the world gooder, much gooder.</h1>
    <p>Tell your friends so they can donate too!</p>

    <a href="http://twitter.com/intent/tweet?text=I just gave a few cents to {{title}} - {{long_url}}&url=/" class="twitter-share-button" data-count="none">Tweet</a>

    

    
    <p><a href="javascript:window.close();" id="close">Close Window</a></p>
{% endblock content %}

