@import "compass/css3";
@import "constants.scss";

body {
    background: transparent;
    margin:0;padding:0;
}

#container {
	width: 110px;
    cursor:pointer;
    position:relative;
}

#balance {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    background-color:#fff;
    font-size:10px;
    height:14px;
    @include border-radius(1px);
    border:1px solid #ccc;
    margin:0 0 0 3px;
    padding:4px;
    text-align:center;
    color:#666;
    float: left;
}

#button {
    float:left;
    $border-color: #e1dbc1;
    font-size: 11px;
    color: #3B5998;
    text-decoration: none;
    line-height: 1px;
    text-align: left;
    direction: ltr;
    background-color: #fffae6; // Old browsers
    background-color: #ffffff; // Old browsers
    @include filter-gradient(#ffffff, #ede8d6, vertical); // IE6-8
    $experimental-support-for-svg: true;
    @include background-image(linear-gradient(top,  #ffffff 0%,#fffae6 3%,#ede8d6 100%));
    padding-top: 2px;
    padding-right: 4px;
    padding-bottom: 4px;
    padding-left: 4px;
    border-top-width: 1px;
    border-right-width: 1px;
    border-bottom-width: 1px;
    border-left-width:        1px;
    border-top-color:        $border-color;
    border-right-color:        $border-color;
    border-bottom-color:        $border-color;
    border-left-color:        $border-color;
    border-top-style:        solid;
    border-right-style:        solid;
    border-bottom-style:        solid;
    border-left-style:        solid;
    border-top-left-radius:        3px;
    border-top-right-radius:    3px;
    border-bottom-left-radius:    3px;
    border-bottom-right-radius:    3px;
    display:            block;
    float:                left;
    border-collapse:        collapse;
    border-image-outset:        0 0 0 0;
    border-image-repeat:        stretch stretch;
    border-image-slice:        100% 100% 100% 100%;
    border-image-source:        none;
    border-image-width:        1 1 1 1;
    border-spacing:            0px 0px;
    cursor:                pointer;
    opacity:            1.0;

}

.button-text {
            font-family: "Trebuchet MS", Arial, sans-serif;
            font-weight: bold;
            font-size: 11px;
            color: #666;
            line-height: 16px;
            text-align: left;
            direction: ltr;
            background-color: transparent;
            background-image: url(../images/cent-icon.png);
            background-repeat: no-repeat;
            background-attachment: scroll;
            background-clip: border-box;
            background-origin: padding-box;
            background-size: auto auto;
            margin-left: -1px;
            padding-left: 17px;
            display: block;
            white-space: nowrap;
            border-collapse: collapse;
            border-spacing: 0px 0px;
            cursor: pointer;
            height:15px
            }

        .button-link:hover {
            text-decoration:none;
            }

#icon {
    margin-bottom:-4px;
}

 #button:hover {
     border-color:#c0bcad;
 }


#balance.incr {
    color: #0a0;
}

.problem {
    font-size:50%;
    text-transform: uppercase;
    text-align:center;
    margin:0;
}
.problem a {
    text-decoration:none;
    color:red;
}