body 
{
    font-family: 'Montserrat', sans-serif;
    padding:0;
    margin:0;
}

a 
{
    color:#00afef;
    text-decoration: none;
}

#slider 
{
    width:150px;
    float:left;
}

#preview 
{
    width:150px;
    float:right;
}

#close
{
	font-size:14px;
}
.clear-fix
{
	clear:both;
}

/* Custom Button */
            .btn-custom {
                -moz-box-shadow: 0px 2px 0px 0px #0189bb;
                -webkit-box-shadow: 0px 2px 0px 0px #0189bb;
                box-shadow: 0px 2px 0px 0px #0189bb;
                background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #00afef), color-stop(1, #00afef) );
                background:-moz-linear-gradient( center top, #00afef 5%, #00afef 100% );
                filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#00afef', endColorstr='#00afef');
                background-color:#00afef;
                -moz-border-radius:4px;
                -webkit-border-radius:4px;
                border-radius:5px;
                border:2px solid #39bcf4;
                display:inline-block;
                color:#ffffff;
                font-family: 'Montserrat', sans-serif;
                font-size:14px;
                font-weight:bold;
                padding:2px 4px 0;
                text-decoration:none;
              	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.12);
              	-webkit-font-smoothing: antialiased;
            }

            .btn-custom:hover {
                background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #00afef), color-stop(1, #00afef) );
                background:-moz-linear-gradient( center top, #00afef 5%, #00afef 100% );
                filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#00afef', endColorstr='#00afef');
                background-color:#00afef;
                color:#fff;
                cursor:pointer;
            }
            
            .btn-custom:active {
                position:relative;
                top:1px;
            }

            .popup-container {
            }

            .popup-head {
                background-color: #f0eee7;
                width:100%;
                padding: 8px 24px 8px 12px;
                height: 18px;
            }

            .popup-logo {
                float: left;
                padding:2px 0 0 0;
            }

            .popup-logo-text {
                float: left;
                margin:2px 0 0 5px;
            }

            .popup-myacct {
                float: right;
                margin-right: 24px;
                
                a 
                {
                	font-size:11px;
                }
            }
            

            .popup-body {
                padding: 8px 12px 8px 12px;
            }

            .popup-body h1 {
                color: #ECAA3E;
               	font-size:21px;
                
            }

            .popup-body p {
                font-size: 14px;
            }

            .popup-amount {
                font-weight:bold;
            }

           .popup-slider {
                float: left;
                padding:4px 0 0 0;
                margin:0 10px 0 0;
           }

           .popup-counter {
                float: left;
                border: 1px solid #e1dbc1;
                border-radius:4px;
                font-size: 20px;
                padding:2px 10px;
                text-align: center;
                color: #ECAA3E;
            }

            .popup-increase-container
            {
            	margin:20px 0 0 0;
            	padding:10px 0 0 0;
				border-top: 1px solid #f0eee7;
				
				h2 {
					font-size:17px;
					margin:0 0 20px 0;
           		}
            }
            
            .popup-increase {
               	margin:5px 0 0;
               	
               	a {
               		font-size:14px;
               		margin:0 0 0 5px;
               	}
            }

            .popup-nothanks {
                margin-top: 20px;
            }
            
            .popup-footer
            {
            	margin:30px 0 0 12px;
            	
            	a
            	{
            		font-size:11px;
            	}
            }

    .available {
        font-size: 10px;
        color: #666;
        margin-left: 208px;
    }
