{% extends "base.html" %}
{% load cents %}
{% block title %}
    {{publisher}} - Dashboard
{% endblock title %}
{% block content %}

<style>
	.main-container {
		background-color: #fff;
	}
	.top-content-container {
		background-color: #fff;
	}
	.charity-main-container {
		background-color: #fff;
	}
	.content-padding {
		padding:20px;
	}
	.small-avatar {
		width:45px;
		height:45px;
	}

    .dash-username {
        white-space: nowrap;
        width: 80%;
    }

    .dash-username a {
        white-space: nowrap;
    }
</style>

<!--Main Header Stack -->
<div class="row">
    <!-- User header-->
    <div class="span9 dash-main-header">
        <div class="dash-img">
            <div class="dash-padding">

            </div>
        </div>
        <div class="dash-username">
            <h1>{{publisher}} Dashboard</h1>
            <!--<span><a href="{{publisher.url}}" target="_blank">{{publisher.url}}</a></span>-->
        </div>

    </div>
    <!-- User Donation Details-->

    <div class="dash-status span3">
        {% if publisher.approved %}
            <div class="dash-get-code">
                <a class="btn-custom"href="{% url 'button:code' %}">Get Button Code</a>
            </div>
        {% else %}
            Awaiting Approval from the Team
        {% endif %}
    </div>
</div>

<!--Main Container Stack -->

	<div class="main-container row publisher-dash">

			<div class="span12">
				<div class="content-padding">
    			<ul class="nav nav-tabs">
        			<li class="active"><a href="#overview" data-toggle="tab">Overview</a></li>
        			<!--<li><a href="#history" data-toggle="tab">History</a></li>-->
    			</ul>
    			<div class="tab-content charity-main-container">
        			<div class="tab-pane active" id="overview">
            			<div class="row">
                			<div class="span4">

                                {% if publisher.logo %}
                                <img src="{{publisher.logo.url}}" style="width:250px;height:250px" title="{{publisher}}"/>
                                {% endif %}
                			</div>
                			<div class="span4">
                    			<h4>Uncashed Earnings</h4>
                    			<p>{{publisher.account.balance|dollars}}</p>
                			</div>
                			<div class="span4">
                    			<h4>Total Earnings</h4>
                    			{{publisher.account.balance|dollars}}
                			</div>
            			</div>
        			</div>
        			<!--<div class="tab-pane" id="history">
                        Amount Earned (Daily)

                        FANCY CHART


        			</div>-->
    			</div>
			</div>
		</div>

    <div class="row top-content-container">
        <div class="span7">
			<div class="content-padding">
            <h3>Top Content</h3>
            <h4>(Last 90 Days)</h4>
            <table id="no-more-tables" class="table table-bordered table-striped">
                <thead>
                    <tr>
                        <th width="25%">Amount Earned</th>
                        <th>Content</th>
                    </tr>
                </thead>
                <tbody>
                    {% for earner, earnings in top_earners %}
                    <tr>
                        <td>
                            {{earnings|dollars}}
                        </td>
                        <td>
                            <a href="{{earner.url}}">{{earner.content|truncatechars:80}}</a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
			</div>
        </div>
        <div class="span5">
		<div class="content-padding">
            <h3>Top Givers</h3>
            <h4>(Last 90 Days)</h4>
            <table id="no-more-tables" class="table table-bordered table-striped">
				<thead>
                    <tr>
                        <th width="21%">Giver</th>
						<th>Name</th>
                        <th>Total</th>
                    </tr>
                </thead>
                <tbody>
                    {% for giver, givings in top_givers %}
                    <tr>
                        <td>
                            {% if giver.large_avatar %}
                                <img class="small-avatar" src="{{giver.large_avatar.url}}"alt="">
                            {% else %}
                                &nbsp;
                            {% endif %}

                        </td>
						<td>
							<p>{{giver}}</p>
                        </td>
                        <td>
                            {{givings|dollars}}
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
			</div>
        </div>
</div>


    </div>


	</div>


{% endblock content %}