{% extends "base.html" %}
{% load utils %}

{% block content %}

<style type="text/css">

    .publisher-link {
        font-size: .6em;
        line-height: .3em;
        
    }

</style>

	<div class="general-page generic-home-padding white publishers-list"> 

		<h1>Featured Content Creators</h1>
        <p>We're constantly scouring the web to find the best content creators out there. Here are some of the best publishers you should be reading, enjoying, and contributing to. Check back often. We're adding more publishers every week.</p>
	<div class="row">
        <ul>
            {% for publisher in publishers %}

            {% if publisher.hidden == False %}
          

                <li>
                    <p><a href="{{publisher.url}}" target="_blank">{{publisher }}</a></p>
                    {% if publisher.logo %}
                    <p><a href="{{publisher.url}}" target="_blank"><img src="{{publisher.logo.url}}" style="width:140px;height:140px;" alt=""></a></p>
                    {% endif %}
                    <p>{{publisher.description}}</p>

                    <!--Top Content:

                    {% for earner in publisher.top_earners %}
                       {{earner}}
                    {% endfor %}-->

                </li>

                {% else %}
                  
                {% endif %}

            {% endfor %}

        </ul>

    </div>
	</div>
 {% endblock content %}
