{% extends "base.html" %}
{% load staticfiles %}
{% load cents %}
{% block title %}
    Sign up to become a publisher!
{% endblock title %}
{% block content %}


<div class="row white">
	<div class="generic-home-padding">
		<h2>Become One of Our Publishers</h2>
	</div>
	<div class="span6">
		<div class="generic-home-padding">
				<form action="{% url 'publishers:signup' %}" method="post" enctype="multipart/form-data">
				    {% csrf_token %}
				    {{ form.non_field_errors }}
				    <ul class="signup-pub">
				    	<li>
					    	<label>Publication Name</label>
					    	{{form.name}}
					    	{{form.name.errors}}
				    	</li>
				    	<li>
					    	<label>URL</label>
					    	{{form.url}}
					    	{{form.url.errors}}
				    	</li>
				    	<li>
					    	<label>Image to Represent Your Site</label>
					    	<!--Begin Nicely Styled Image Upload -->

					    	    <div class="fileupload fileupload-new" data-provides="fileupload">
								    <div class="fileupload-new thumbnail" style="width: 300px; height: 300px;"><img src="{% static 'images/300x300.gif' %}" /></div>
								    <div class="fileupload-preview fileupload-exists thumbnail" style="width: 50px; height: 50px;"></div><br/>
								    <span class="btn btn-file"><span class="fileupload-new">Select image</span><span class="fileupload-exists">Change</span>{{form.logo}}</span>
								    <a href="#" class="btn fileupload-exists" data-dismiss="fileupload">Remove</a>
							    </div>
							    {{form.logo.errors}}

							<!--End Nicely Styled Image Upload -->

				    	</li>
				    	<li>
					    	<label>Address 1</label>
					    	{{form.address1}}
					    	{{form.address1.errors}}
				    	</li>
				    	<li>
					    	<label>Address 2</label>
					    	{{form.address2}}
					    	{{form.address2.errors}}
				    	</li>
				    	<li>
					    	<label>City</label>
					    	{{form.city}}
					    	{{form.city.errors}}
				    	</li>

				    	<li>
					    	<label>State</label>
					    	{{form.state}}
					    	{{form.state.errors}}
				    	</li>
				    	<li>
					    	<label>Zip</label>
					    	{{form.zipcode}}
					    	{{form.zipcode.errors}}
				    	</li>

				    	<li>
					    	<label>Country</label>
					    	{{form.country}}
					    	{{form.country.errors}}
				    	</li>

				    	<li>
					    	<label>PayPal Email</label>
					    	{{form.paypal_email}}
					    	{{form.paypal_email.errors}}
				    	</li>
				    	<li>
					    	<label>Monthly Traffic</label>
					    	{{form.monthly_traffic}}
					    	{{form.monthly_traffic.errors}}

				    	</li>




					</ul>
				    <br>
			    <input class="btn-custom" type="submit" value="Sign Up" />
			</form>
			<p class="disclaimer">Each application will be reviewed by someone from the CentUp team. Submitting this form does not guarantee acceptance into the publisher network. Submissions will be evaluated based on a number of factors including, traffic, content type, and likelihood of receiving donations through the CentUp button.</p>

		</div>
	</div>
	<div class="span6">
		<!--<p><span class="blue-line">Make Money</span><br/>
		Asking your fans for donations isn't always easy. CentUp makes the exchange feel right. Your fans will be able to show you love, and your content will help raise money for amazing non-profits. Right now we're accepting publishes who receive over 2,500 unique visitors a month. We're being very mindful of scaling our publisher base at the right speed to keep quality high for the entire community. We'll review every submission that comes in through this form.</p>

		<p><span class="blue-line">Pardon Our Dust</span></br>
		Please note, CentUp is a young company and certain bugs and outages will occur. By becoming part of our network as a publisher, you've got to be open to just a tiny bit of risk. We'll try to keep things chugging along as smooth as possible of course.</p>-->

		</div>
		<div class="generic-home-padding">
		<h3>How Does CentUp Work?</h3>
		<img src="{% static 'images/publishers_step1.png' %}" alt="step 1"/>
		<p>People see the CentUp button near your content.</p>
		<img src="{% static 'images/publishers_step2.png' %}" alt="step 2"/>
		<p>They like the content and "<b>cent it</b>".</p>
		<img src="{% static 'images/publishers_step3.png' %}" alt="step 3"/>
		<p>Half of their cents go to their favorite charity,<br/>the other half go to you.</p>

		<h3>Benefits:</h3>
		<ul>
			<li>A new revenue stream</li>
			<li>More traffic to your site</li>
			<li>Metrics on what content your fans are willing to pay for</li>
			<li>Positive brand perception for facilitating charity</li>
		</ul>


	</div>


</div>
{% endblock content %}