{% extends "base.html" %}

{% block content %}

<div class="generic-home-padding white">

<h1>Change your password</h1>


{% if form.errors %}
    <p>Your email and password didn't match. Please try again.</p>
{% endif %}



<form method="post" action="{% url 'django.contrib.auth.views.password_change' %}">
    {% csrf_token %}
    {{ form.as_p }}
    <input class="btn-custom" type="submit" value="change" />
</form>


</div>

{% endblock content %}
