{% extends "base.html" %}

{% block content %}

<div class="generic-home-padding white">

<div class="row white content-pad">
    <h1>Password reset complete</h1>

    <p>
        Your password has been set. You may go ahead and log in now.
    </p>
    <p>
        <a href="{% url 'login' %}">Log in &raquo;</a>
    </p>

</div>

</div>
{% endblock content %}
