{% extends "base.html" %}

{% block content %}

<div class="generic-home-padding white">

<div class="row white content-pad">
    <h1>Enter new password</h1>

    <form method="post">
        {% csrf_token %}
        <p>
           Please enter your new password twice so we can verify you typed it in correctly.
        </p>

        <table>
            {{form.as_table}}
        </table>
        <p>
            <input class="btn-custom" type="submit" name="submit"  value="Change my password" />
        </p>
    </form>
</div>

</div>
{% endblock content %}
