{% extends "base.html" %}

{% block content %}

<div class="generic-home-padding white">

<div class="row white content-pad">
    <h1>Password reset successful</h1>

    <p>
        We've emailed you instructions for setting your password to the email address you submitted. You should be receiving it shortly.
    </p>

</div>

</div>
{% endblock content %}
