{% extends "base.html" %}

{% block content %}



<div class="row generic-home-padding white content-pad">
    <h1>Password Reset</h1>

    

    <form method="post">
        {% csrf_token %}
        <p>
            Forgotten your password? Enter your email address below, and we'll email instructions for setting a new one
        </p>

        <table>
            {{form.as_table}}
        </table>
        <p>
            <input class="btn-custom" type="submit" name="submit"  value="Send email" />
        </p>
    </form>
</div>


{% endblock content %}
