{% extends "base.html" %}
{% load cents %}
{% block title %}
    Centup News
{% endblock title %}

{% block pageclass %}content-page{% endblock pageclass %}

{% block content %}
    
    <!--Main Container Stack -->
        
        <div class="row white content-page">
            <h1>Centup News</h1>
            
            {% for post in posts %}
                <h3>
                    <a href="/news/{{post.slug}}">{{post.title}}</a>
                    <em>{{post.created|date:"D d M Y"}}</em>
                </h3>
                
            {% endfor %}
            
        </div>
        
{% endblock content %}
