{% extends "base.html" %}
{% load cents %}
{% block title %}
    Centup News
{% endblock title %}

{% block pageclass %}content-page{% endblock pageclass %}

{% block content %}

    <!--Main Container Stack -->

        <div class="row white content-page">
            <a href="/news"> &lt; back to all news</a>
            <h1>{{post.title}}</h1>
            <small>{{post.created|date:"D d M Y"}}</small>
            <br><br>
            {% autoescape off %}
            {{post.body|linebreaks}}
            {% endautoescape %}
            <br><br>

            <div id="disqus_thread"></div>
            <script type="text/javascript">
                /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
                var disqus_shortname = 'centup'; // required: replace example with your forum shortname
                /* * * DON'T EDIT BELOW THIS LINE * * */
                (function() {
                    var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
                    dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
                    (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
                })();
            </script>
            <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
            <a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>

        </div>
{% endblock content %}
