<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
	    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
	    <title>Centup Email Template </title>
	    <style type="text/css">
	</head>

	<body>
	   {% block email_content %}{% endblock %}
	</body>

</html>