<html xmlns="http://www.w3.org/1999/xhtml">
{% load cents %}
You are being invited to CentUp

<body>
Your invitation code is:

    {{recipient.code}}
{% if recipient.bonus_credit %}
When you sign up, you will receieve {{recipient.bonus_credit|credits}} free credits just for being awesome!</b>
{% endif %}
Please use the following URL to sign up:

    {{root_url}}{% url 'signup' %}?invite={{recipient.code}}

Have questions for us? Reach out to team@centup.org

Salutations and all that.

- Team Centup
</body>
</html>